@media (max-width: 1300px) {
  .inner {
    padding: 100px 0;
  }
  .title {
    font-size: rem(42);
  }
  .item-title {
    font-size: rem(26);
  }
  .header {
    &__body {
      margin-top: 55px;
    }
    &__content {
      width: 500px;
      &-btn {
        width: 365px;
        height: 100px;
        font-size: rem(30);
        line-height: rem(45);
      }
    }
    &__title {
      max-width: 450px;
      font-size: rem(56);
      line-height: rem(72);
      padding-right: 100px;
      margin-bottom: 34px;
      &::after {
        width: 100px;
        height: 100px;
        top: 78px;
      }
    }
    &__text {
      font-size: rem(22);
      line-height: rem(34);
      margin-bottom: 45px;
    }
    &__photo {
      max-width: 580px;
    }
  }
  .skills {
    &__title {
      margin-bottom: 75px;
    }
    &__list {
      grid-template: 486px 1fr / repeat(3, 1fr);
    }
    &__item {
      padding: 20px 20px 35px 30px;
      &-text {
        font-size: rem(15);
        line-height: rem(22);
        max-height: 66px;
      }
      &-btn {
        width: 207px;
        height: 58px;
        font-size: rem(19);
        line-height: rem(28);
      }
      &--1 {
        p {
          &:nth-child(3) {
            max-height: 88px;
          }
        }
      }
    }
    &__photo {
      &-img {
        &--1 {
          max-width: 291px;
          margin-bottom: 20px;
        }
        &--2,
        &--3 {
          max-width: 234px;
        }
        &--4 {
          max-width: 283px;
        }
      }
    }
  }
  .about {
    &__content-box {
      max-width: 580px;
    }
    &__text {
      margin-top: 20px;
      font-size: rem(18);
      line-height: rem(27);
    }
    &__list {
      margin-top: 25px;
      gap: 85px;
    }
    &__item {
      &-title {
        font-size: rem(39);
      }
      &-text {
        margin-top: -7px;
        font-size: rem(18);
        line-height: rem(27);
      }
    }
    &__photo-img {
      max-width: 430px;
    }
  }
  .footer {
    &__list {
      gap: 19px;
    }
    &__item {
      &::after {
        right: -12px;
        width: 5px;
        height: 5px;
      }
      &-link {
        font-size: rem(20);
        line-height: rem(30);
      }
    }
  }
}

@media (max-width: 1150px) {
  .inner {
    padding: 60px 0;
  }
  .title {
    font-size: rem(36);
  }
  .item-title {
    font-size: rem(22);
  }
  .fixed::before {
    height: 99px;
  }
  .header {
    &__top {
      height: 100px;
      &-btn {
        font-size: rem(18);
        line-height: rem(27);
        height: 50px;
        width: 160px;
      }
    }
    &__logo {
      font-size: rem(30);
      line-height: rem(45);
    }
    &__body {
      margin-top: 65px;
    }
    &__content {
      width: 435px;
      &-btn {
        width: 292px;
        height: 80px;
        font-size: rem(24);
        line-height: rem(36);
        border-radius: 5px;
      }
    }
    &__title {
      font-size: rem(48);
      line-height: rem(64);
      max-width: 370px;
      padding-right: 80px;
      margin-bottom: 27px;
      &::after {
        width: 80px;
        height: 80px;
      }
    }
    &__text {
      font-size: rem(20);
      line-height: rem(30);
      margin-bottom: 34px;
    }
    &__photo {
      max-width: 480px;
    }
  }
  .menu {
    &__list {
      gap: 20px;
    }
    &__item {
      font-size: rem(16);
      line-height: rem(24);
    }
  }
  .skills {
    &__title {
      margin-bottom: 53px;
    }
    &__list {
      grid-template: 441px 1fr / repeat(3, 1fr);
    }
    &__item {
      padding: 20px 15px 30px 22px;
      &-text {
        font-size: rem(14);
        line-height: rem(21);
        max-height: 63px;
        margin-bottom: 30px;
      }
      &-btn {
        width: 196px;
        height: 57px;
        font-size: rem(18);
        line-height: rem(27);
      }
      &--1 {
        p {
          &:nth-child(3) {
            max-height: 84px;
          }
        }
      }
      &--4 {
        padding-top: 5px;
      }
    }
    &__photo {
      &-img {
        &--1 {
          max-width: 232px;
          margin-bottom: 20px;
        }
        &--2,
        &--3 {
          max-width: 187px;
        }
        &--4 {
          max-width: 225px;
        }
      }
    }
  }
  .about {
    &__content-box {
      max-width: 525px;
    }
    &__text {
      margin-top: 15px;
      font-size: rem(16);
      line-height: rem(24);
    }
    &__list {
      margin-top: 10px;
      gap: 50px;
    }
    &__item {
      &-title {
        font-size: rem(30);
      }
      &-text {
        margin-top: -12px;
        font-size: rem(16);
        line-height: rem(24);
      }
    }
    &__photo-img {
      max-width: 380px;
    }
  }
  .footer {
    &__body {
      min-height: 95px;
    }
    &__list {
      gap: 16px;
    }
    &__item {
      &::after {
        right: -10px;
        width: 4px;
        height: 4px;
      }
      &-link {
        font-size: rem(16);
        line-height: rem(24);
      }
    }
  }
}

@media (max-width: 991px) {
  .inner {
    padding: 47px 0;
  }
  .title {
    font-size: rem(33);
  }
  .item-title {
    font-size: rem(21);
  }
  .header {
    &__body {
      margin-top: 55px;
    }
    &__content {
      width: 390px;
      &-btn {
        width: 264px;
        height: 72px;
        font-size: rem(21);
        line-height: rem(32);
      }
    }
    &__title {
      font-size: rem(40);
      line-height: rem(54);
      max-width: 310px;
      padding-right: 60px;
      margin-bottom: 26px;
      &::after {
        width: 70px;
        height: 70px;
        top: 80px;
      }
    }
    &__text {
      font-size: rem(18);
      line-height: rem(28);
      margin-bottom: 33px;
    }
    &__photo {
      max-width: 416px;
    }
  }
  .skills {
    &__title {
      margin-bottom: 45px;
    }
    &__item {
      padding: 20px 15px 30px 22px;
      &-btn {
        width: 196px;
        height: 57px;
        font-size: rem(17);
        line-height: rem(25);
      }
    }
    &__photo {
      &-img {
        &--1 {
          max-width: 211px;
          margin-bottom: 20px;
        }
        &--2 {
          max-width: 185px;
        }
        &--3 {
          max-width: 175px;
        }
        &--4 {
          max-width: 201px;
        }
      }
    }
  }
  .about {
    &__content-box {
      max-width: 423px;
    }
    &__text {
      margin-top: 0;
      font-size: rem(15);
      line-height: rem(22);
    }
    &__list {
      margin-top: 7px;
      gap: 45px;
    }
    &__item {
      &-title {
        font-size: rem(26);
      }
      &-text {
        margin-top: -13px;
        font-size: rem(15);
        line-height: rem(22);
      }
    }
    &__photo-img {
      max-width: 375px;
    }
  }
  .footer {
    &__list {
      gap: 14.5px;
    }
    &__item {
      &::after {
        right: -9px;
        height: 3.5px;
        width: 3.5px;
      }
      &-link {
        font-size: rem(14);
        line-height: rem(22);
      }
    }
  }
}

@media (max-width: 870px) {
  .inner {
    padding: 35px 0;
  }
  .title {
    font-size: rem(30);
  }
  .item-title {
    font-size: rem(20);
  }
  .header {
    &__body {
      margin-top: 45px;
    }
    &__content {
      width: 350px;
      &-btn {
        width: 236px;
        height: 65px;
        font-size: rem(18);
        line-height: rem(27);
      }
    }
    &__title {
      font-size: rem(36);
      line-height: rem(45);
      max-width: 275px;
      margin-bottom: 25px;
      padding-right: 50px;
      &::after {
        width: 60px;
        height: 60px;
        top: 68px;
      }
    }
    &__text {
      font-size: rem(16);
      line-height: rem(24);
      margin-bottom: 32px;
    }
    &__photo {
      max-width: 355px;
    }
  }
  .skills {
    &__title {
      margin-bottom: 37px;
    }
    &__item {
      padding: 15px 15px 25px 15px;
      &-text {
        font-size: rem(13);
        line-height: rem(20);
        max-height: 100px;
        margin-bottom: 20px;
      }
      &-btn {
        width: 178px;
        height: 50px;
        font-size: rem(16);
        line-height: rem(24);
      }
      &--1 {
        p {
          &:nth-child(3) {
            max-height: 120px;
          }
        }
      }
    }
    &__photo {
      &-img {
        &--1 {
          max-width: 190px;
          margin-bottom: 2px;
        }
        &--2 {
          margin-bottom: -15px;
          max-width: 183px;
        }
        &--3 {
          max-width: 164px;
        }
        &--4 {
          max-width: 178px;
        }
      }
    }
  }
  .about {
    &__content-box {
      max-width: 321px;
    }
    &__text {
      margin-top: 0;
      font-size: rem(14);
      line-height: rem(21);
    }
    &__list {
      margin-top: 7px;
      gap: 45px;
    }
    &__item {
      &-title {
        font-size: rem(22);
      }
      &-text {
        margin-top: -15px;
        font-size: rem(13);
        line-height: rem(20);
      }
    }
    &__photo-img {
      max-width: 350px;
    }
  }
  .footer {
    &__list {
      gap: 13px;
    }
    &__item {
      &::after {
        right: -8px;
        height: 3px;
        width: 3px;
      }
      &-link {
        font-size: rem(13);
        line-height: rem(20);
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__top-btn {
      display: none;
    }
  }
  .menu {
    padding: 0;
    &__icon {
      display: flex;
      position: relative;
      width: 30px;
      height: 18px;
      background-color: inherit;
      right: 10px;
      span,
      &::before,
      &::after {
        left: 0;
        position: absolute;
        height: 3px;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #39515e;
      }
      &::before,
      &::after {
        content: "";
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
        width: 70%;
      }
      span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }
      &._active {
        span {
          transform: scale(0) translate(0px, -50%);
        }
        &::before {
          top: 50%;
          transform: rotate(45deg) translate(0px, -50%);
        }
        &::after {
          bottom: 50%;
          width: 100%;
          transform: rotate(-45deg) translate(0px, 50%);
        }
      }
    }
    &__body {
      position: fixed;
      top: 99px;
      left: -100%;
      width: 100%;
      height: calc(100% - 99px);
      background-color: rgba($colorBlack, 0.95);
      padding: 30px;
      overflow: auto;
      transition: all 0.3s ease 0s;
      &._active {
        left: 0;
      }
    }
    &__item {
      margin: 0px 0px 35px 0px;
      font-size: rem(24);
      color: #fff;
      &--burger {
        display: flex;
      }
      &-btn {
        font-size: rem(18);
        line-height: rem(27);
        height: 50px;
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $colorBlack;
        border-radius: 5px;
        background-color: #fff;
        color: $colorBlack;
      }
      &:last-child {
        margin: 0;
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
  }
}

@media (max-width: 764px) {
  .inner {
    padding: 42px 0;
  }
  .item-title {
    font-size: rem(18);
  }
  .header {
    &__body {
      flex-wrap: wrap-reverse;
      gap: 20px;
      justify-content: center;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 640px;
      width: 100%;
      padding: 0;
      &-btn {
        width: 305px;
        height: 75px;
      }
    }
    &__title {
      font-size: rem(34);
      max-width: 500px;
      padding: 0;
      text-align: center;
      &::after,
      br {
        display: none;
      }
    }
    &__text {
      margin-bottom: 37px;
      text-align: center;
    }
    &__photo {
      max-width: 424px;
    }
  }
  .skills {
    &__title {
      margin-bottom: 34px;
    }
    &__list {
      grid-template: 1fr 1fr / 1fr 1fr;
      gap: 30px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      height: 100%;
      &-box {
        flex: 1 1 auto;
      }
    }
    &__item {
      padding: 30px 20px 36px 20px;
      justify-content: start;
      &-text {
        font-size: rem(12);
        line-height: rem(18);
        max-height: 400px;
        margin-bottom: 18px;
      }
      &-btn {
        max-width: 100%;
        width: 200px;
        height: 50px;
        font-size: rem(14);
        line-height: rem(21);
      }
      &--1 {
        grid-row: 1/2;
        p {
          &:nth-child(3) {
            max-height: 200px;
          }
        }
      }
      &--2,
      &--3 {
        min-height: 100%;
      }
      &--4 {
        flex-direction: column;
        max-height: 100%;
        gap: 0;
      }
    }
    &__photo {
      height: 172px;
      display: flex;
      align-items: center;
      &-img {
        max-height: 172px;
        margin: 0;
        &--1,
        &--2,
        &--3,
        &--4 {
          max-width: 100%;
        }
      }
    }
  }
  .about {
    &__title {
      text-align: center;
    }
    &__content {
      flex-direction: column-reverse;
      align-items: center;
      &-box {
        max-width: 510px;
      }
    }
    &__text {
      text-align: center;
      margin-top: 50px;
      font-size: rem(14);
      line-height: rem(21);
    }
    &__list {
      margin-top: 20px;
      gap: 75px;
      justify-content: center;
    }
    &__item {
      &-title {
        font-size: rem(24);
      }
      &-text {
        margin-top: -15px;
        font-size: rem(14);
        line-height: rem(21);
      }
    }
    &__photo {
      margin-top: 45px;
      &-img {
        max-width: 336px;
      }
    }
  }
  .footer {
    &__item-link {
      font-size: rem(12);
      line-height: rem(18);
    }
  }
}

@media (max-width: 560px) {
  .inner {
    padding: 25px 0;
  }
  .container {
    padding: 0 15px;
  }
  .title {
    font-size: rem(24);
  }
  .item-title {
    line-height: rem(70);
  }
  .fixed {
    width: calc(100vw - 30px);
  }
  .header {
    &__content {
      &-btn {
        width: 289px;
        height: 60px;
        font-size: rem(16);
        line-height: rem(24);
      }
    }
    &__logo,
    &__title {
      font-size: rem(24);
      line-height: rem(36);
    }
    &__text {
      font-size: rem(14);
      line-height: rem(21);
    }
  }
  .skills {
    &__title {
      margin-bottom: 32px;
    }
    &__list {
      grid-template: 1fr / 1fr;
      gap: 20px;
    }
    &__item {
      max-width: 400px;
      margin: 0 auto;
      padding: 32px 15px 45px 15px;
      &-text {
        font-size: rem(13);
        line-height: rem(20);
        max-height: 100%;
        margin-bottom: 18px;
      }
      &-btn {
        width: 68.465%;
      }
      &--1 {
        grid-row: auto;
        p {
          &:nth-child(3) {
            max-height: 100%;
          }
        }
      }
      &--4 {
        grid-column: auto;
      }
    }
    &__photo {
      &--1,
      &--2,
      &--3,
      &--4 {
        justify-content: center;
      }
    }
  }
  .about {
    &__content-box {
      max-width: 100%;
    }
    &__text {
      margin-top: 40px;
      font-size: rem(13);
      line-height: rem(20);
    }
    &__list {
      margin-top: 10px;
      gap: 30px;
      flex-direction: column;
      align-items: center;
    }
    &__item-text {
      margin-top: -20px;
      font-size: rem(15);
      line-height: rem(22);
    }
    &__photo {
      margin-top: 40px;
      &-img {
        width: 84.375vw;
      }
    }
  }
  .footer {
    &__body {
      min-height: 140px;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
    }
    &__list {
      gap: 11px;
    }
    &__item {
      &::after {
        right: -7px;
        height: 3px;
        width: 3px;
      }
      &-link {
        font-size: rem(11);
        line-height: rem(16);
      }
    }
  }
}

@media (max-width: 400px) {
  .header {
    &__title {
      br {
        &:last-child {
          display: block;
        }
      }
    }
  }
}
