.bafa {
  &__title {
    max-width: rem(850);
    margin-left: auto;
    margin-right: auto;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__photo {
    position: relative;
    width: rem(488);
    height: 100%;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 13.32%;
      top: -11.045%;
      bottom: 11.045%;
      border: rem(1) solid $colorBlue;
      border-radius: rem(30);
      z-index: -1;
    }
    &-img {
      margin-left: 13.32%;
      max-width: rem(423);
      max-height: rem(317);
      border-radius: rem(30);
      filter: drop-shadow(0 rem(4) rem(40) rgba(0, 0, 0, 0.25));
    }
  }
  &__text {
    font-family: "Roboto", sans-serif;
    max-width: rem(527);
    font-size: rem(20);
    line-height: 144.2%;
    margin-bottom: rem(20);
    padding-left: rem(20);
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(300);
    height: rem(60);
    background-color: $colorAqua;
    color: #fff;
    border-radius: rem(50);
    margin: 0 auto;
    transition: all 0.5s ease 0s;
  }
}
