.blog {
  background-color: $colorBlue;
  &__title {
    color: #fff;
    max-width: rem(860);
    margin-left: auto;
    margin-right: auto;
  }
  &__list {
    display: grid;
    grid-template: 1fr / repeat(3, rem(297));
    gap: rem(31);
    justify-content: center;
    margin-bottom: rem(35);
  }
  &__item {
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    border-radius: rem(30);
    border: rem(1) solid $colorBlue;
    filter: drop-shadow(0 rem(4) rem(4) rgba(0, 0, 0, 0.25));
    max-width: rem(297);
    transition: all 0.5s ease 0s;
    &-link {
      display: block;
      margin: rem(20) auto;
      height: rem(69);
      width: rem(69);
      border-radius: rem(16);
    }
    &-img {
      max-width: 100%;
    }
    &-title {
      display: block;
      margin: 0 auto rem(20);
      width: min-content;
      border-radius: rem(4);
      font-size: rem(20);
      line-height: 1.2em;
      font-weight: 700;
    }
    &-text {
      padding: 0 rem(31) rem(35);
      min-height: rem(90);
    }
  }
  &__btn {
    transition: all 0.5s ease 0s;
    &::after {
      content: "";
      position: absolute;
      background: url("../img/arrow-bottom.png") 0 0 no-repeat;
      background-size: cover;
      width: rem(25);
      height: rem(25);
      right: rem(12);
      border-radius: 50%;
    }
  }
}
