.comment {
  &__photo {
    display: flex;
    justify-content: center;
    margin-bottom: rem(60);
    &-img {
      filter: drop-shadow(0 rem(4) rem(4) rgba(0, 0, 0, 0.25));
      border-radius: rem(30);
      &--zurich {
        max-width: rem(475);
      }
    }
  }
  &__text {
    font-family: "Roboto", sans-serif;
    max-width: rem(970);
    font-size: rem(22);
    line-height: 1.182em;
    margin: 0 auto rem(26);
    &:last-child {
      margin-bottom: 0;
    }
  }
}
