.criminal {
  &__content {
    display: flex;
    gap: rem(30);
    justify-content: center;
    &-box {
      display: flex;
      flex-direction: column;
    }
    &-text {
      max-width: rem(424);
      margin-bottom: rem(21);
      font-size: rem(18);
      line-height: 1.222em;
      flex: 1 1 auto;
    }
  }
  &__list {
    display: grid;
    grid-template: 1fr 1fr / rem(299) rem(299);
    gap: rem(30);
  }
  &__item {
    min-height: rem(159);
    position: relative;
    border: rem(1) solid $colorBlue;
    border-radius: rem(30);
    transition: all 0.3s ease 0s;
    &::before {
      content: "";
      background: url("../img/landing/criminal.jpg") no-repeat;
      background-size: cover;
      opacity: 0.6;
      border-radius: rem(20);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: rem(30) rem(30) rem(16) rem(16);
    }
    &-title {
      font-size: rem(17);
      line-height: 1.2353em;
      font-weight: 700;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      width: 100%;
      height: 100%;
      border-radius: rem(30) rem(30) rem(16) rem(16);
    }
    &-btn {
      position: absolute;
      bottom: rem(-1);
      left: rem(-1);
      min-height: rem(30);
      height: rem(40);
      width: rem(299);
      border-radius: rem(20);
    }
  }
  &__btn-more {
    margin-top: rem(35);
    min-height: rem(30);
  }
}
