.feedback {
  background-color: $colorSky;
  &__inner {
    padding: 120px 0;
  }
  &__title {
    margin-bottom: 60px;
  }
  &__subtitle {
    font-size: 22px;
    line-height: 1.227em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 35px;
  }
  &__content {
    display: grid;
    grid-template: 1fr / 467px 305px;
    gap: 83px;
    &-box {
      margin-top: 42px;
    }
  }
  &__photo {
    position: relative;
    z-index: 2;
    padding: 21px 0 0 36px;
    &::before {
      content: "";
      position: absolute;
      border: 1px solid $colorBlue;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      width: 97.86%;
      max-height: 91.55%;
      background-color: #fff;
    }
    &-img {
      position: relative;
      border-radius: 30px;
      max-width: 431px;
      width: 100%;
    }
  }
  &__form {
    min-width: 177.5px;
    width: 305px;
    text-align: center;
    &-input {
      margin-bottom: 36px;
      min-height: 34px;
      height: 60px;
      min-width: 175px;
      width: 301px;
      border-radius: 50px;
      border: 1px solid $colorBlue;
      padding: 0 20px;
      &:focus {
        box-shadow: 0 0 15px $colorAqua;
      }
      &._error {
        border: 1px solid red;
      }
      &::placeholder {
        font-size: 18px;
        line-height: 1.222em;
        color: rgba($colorBlue, 0.7);
      }
    }
    &-btn {
      border-radius: 20px;
      min-height: 34px;
      height: 60px;
      width: 100%;
      background-color: $colorBlue;
      color: #fff;
      font-size: 17px;
      line-height: 21px;
      font-weight: 700;
    }
  }
}
