.services-hamburg {
  &__inner {
    background-color: $colorSky;
  }
  &__title {
    width: rem(1000);
    margin-right: auto;
    margin-left: auto;
  }
  &__list {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, rem(421));
    justify-content: center;
    gap: rem(50);
    margin-bottom: rem(60);
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: rem(358);
    border-radius: rem(30);
    border: rem(1) solid $colorBlue;
    background-color: #fff;
    text-align: center;
    padding: rem(20);
    transition: all 0.5s ease 0s;
    &-link {
      margin-bottom: rem(10);
      border-radius: rem(16);
    }
    &-img {
      height: rem(51);
      width: rem(51);
    }
    &-title {
      font-size: rem(20);
      line-height: 1.2em;
      font-weight: 700;
      margin-bottom: rem(20);
      border-radius: rem(4);
    }
    &-text {
      font-family: "Roboto", sans-serif;
      font-size: rem(16);
      line-height: 1.1875em;
      width: rem(378);
      margin-bottom: rem(20);
      flex: 1 1 auto;
    }
    &-btn {
      height: rem(40);
    }
  }
  &__btn {
    height: rem(60);
    margin: 0 auto;
    &-style {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(262);
      background-color: $colorBlue;
      color: #fff;
      border-radius: rem(50);
      padding: 0 rem(30);
      transition: all 0.5s ease 0s;
    }
  }
}
