.support {
  background: url("../img/support-bg.png") 0 0 no-repeat scroll;
  background-size: cover;
  &__inner {
    padding: 120px 0;
    color: #fff;
  }
  &__title {
    color: inherit;
    margin-bottom: 60px;
  }
  &__list {
    display: grid;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0 35px;
    gap: 50px;
    grid-template:
      minmax(130px, 262px) minmax(130px, 262px) / minmax(140px, 279px)
      minmax(140px, 279px) minmax(140px, 279px);
  }
  &__item {
    position: relative;
    &::before {
      content: "";
      background: url("../img/support-img.jpg") no-repeat;
      background-size: cover;
      opacity: 0.7;
      border-radius: 20px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &-title {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2em;
      height: 100%;
      width: 100%;
      padding: 15px;
    }
    &-btn {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}
