.tax {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 60px;
  }
  &__item {
    text-align: center;
    &-link {
      display: inline-flex;
      background-color: $colorPink;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      margin-bottom: 21px;
      justify-content: center;
      align-items: center;
    }
    // &-img {
    // }
    &-title {
      display: block;
      font-size: 22px;
      line-height: 1.2273em;
      font-weight: 700;
      margin-bottom: 21px;
    }
    &-text {
      width: 271px;
      font-size: 17px;
      line-height: 1.2353em;
      font-weight: 500;
      margin-bottom: 21px;
      margin: 0 auto;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
