.tax-zurich {
  &__list {
    display: grid;
    grid-template: 1fr / repeat(3, rem(312));
    gap: rem(50);
    justify-content: center;
    margin-bottom: rem(60);
  }
  &__item {
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    border-radius: rem(30);
    border: rem(1) solid $colorBlue;
    max-width: rem(312);
    transition: all 0.5s ease 0s;
    &-link {
      display: block;
      margin: rem(20) auto;
      height: rem(69);
      width: rem(69);
      border-radius: rem(16);
    }
    &-img {
      max-width: 100%;
    }
    &-title {
      display: block;
      margin: 0 auto rem(20);
      width: min-content;
      border-radius: rem(4);
      font-size: rem(20);
      line-height: 1.2em;
      font-weight: 700;
    }
    &-text {
      padding: 0 rem(31) rem(25);
    }
    &-btn {
      box-shadow: 0 rem(4) rem(40) rgba(0, 0, 0, 0.25);
      margin-bottom: rem(20);
    }
  }
  &__btn-learn {
    box-shadow: 0 rem(4) rem(40) rgba(0, 0, 0, 0.25);
  }
}
