.work {
  background-color: $colorBlue;
  color: #fff;
  &__title {
    color: inherit;
  }
  &__list {
    display: grid;
    grid-template: 1fr / repeat(3, rem(230));
    gap: rem(50);
    justify-content: center;
  }
  &__item {
    background-color: #fff;
    color: $colorBlue;
    border-radius: rem(30);
    &-link {
      display: flex;
      align-items: center;
      margin: rem(20) auto;
      height: rem(52);
      width: rem(51);
      border-radius: rem(8);
    }
    &-img {
      max-width: 100%;
    }
    &-text {
      padding: 0 rem(15) rem(21);
      line-height: 1.2em;
      text-align: center;
    }
  }
}
