.zoll {
  &__content {
    display: flex;
    justify-content: space-between;
    &-box {
      max-width: rem(460);
    }
  }
  &__photo {
    padding-right: rem(20);
    &-img {
      box-shadow: 0 rem(4) rem(40) rgba(0, 0, 0, 0.15);
      border-radius: rem(30);
      max-width: rem(560);
    }
  }
  &__text {
    font-family: "Roboto", sans-serif;
    font-size: rem(16);
    line-height: 1.1875em;
    margin-bottom: rem(20);
  }
  &__btn-learn {
    margin: rem(30) 0 0 0;
    box-shadow: 0 rem(4) rem(40) rgba(0, 0, 0, 0.25);
  }
}
