.footer {
  background-color: $colorBlue;
  color: #fff;
  min-height: rem(92);
  &__inner {
    padding: rem(80) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: rem(-32);
    margin-right: rem(32);
  }
  &__logo {
    border-radius: rem(16);
  }
  &__list {
    padding: 0 rem(15);
  }
  &__item {
    margin-bottom: rem(18);
    &:last-child {
      margin-bottom: 0;
    }
    // &-text {
    // }
    &-title,
    &-phone {
      border-radius: rem(4);
    }
  }
  // &__btn {
  // }
}
