// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;

body {
  font-family: "Montserrat", sans-serif;
  color: #002d62;
  line-height: 1.2em;
  &._lock {
    overflow: hidden;
  }
}
a,
button {
  color: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: rem(1130);
  padding: 0 rem(15);
  margin: 0 auto;
}

.inner {
  padding: rem(120) 0;
}

.img {
  transition: all 0.5s ease 0s;
}

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(10);
  width: rem(200);
  height: rem(45);
  border-radius: rem(50);
  border: rem(1) solid #fff;
  background-color: transparent;
  font-size: rem(20);
  line-height: 1.2em;
  text-align: center;
  transition: all 0.5s ease 0s;
}

.title {
  font-size: rem(40);
  line-height: 1.225em;
  font-weight: 700;
  color: #002d62;
  text-align: center;
  margin-bottom: rem(60);
}

.btn-more {
  display: flex;
  margin: 0 auto;
  height: rem(50);
  align-items: center;
  justify-content: center;
  width: rem(300);
  border-radius: rem(20);
  font-size: rem(17);
  line-height: math.div(21, 17);
  font-weight: 500;
  background-color: $colorAqua;
  position: relative;
  z-index: 1;
  color: #fff;
  transition: all 0.5s ease 0s;
  &::after {
    content: "";
    position: absolute;
    background: url("../img/arrow-bottom.png") 0 0 no-repeat;
    background-size: cover;
    width: rem(25);
    height: rem(25);
    right: rem(12);
  }
}

.btn-learn {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: rem(40);
  width: rem(226);
  background-color: $colorAqua;
  color: #fff;
  border-radius: rem(50);
  font-weight: 500;
  transition: all 0.5s ease 0s;
}

.btn-blue {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: rem(60);
  width: rem(340);
  font-weight: 700;
  font-size: rem(17);
  line-height: 1.2353em;
  background-color: $colorBlue;
  color: #fff;
  border-radius: rem(20);
  margin-top: rem(60);
  transition: all 0.5s ease 0s;
}
