.header {
  background-color: $colorBlue;
  color: #fff;
  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: rem(19);
    padding-bottom: rem(48);
  }
  &__logo {
    border-radius: rem(16);
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: rem(30);
    &-input {
      display: none;
    }
    &-search {
      cursor: pointer;
    }
  }
  &__search-btn {
    background-color: transparent;
    height: rem(30);
    border-radius: rem(8);
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: rem(88);
    &-box {
      margin-top: 7.455%;
      max-width: 54.5%;
      padding-right: rem(15);
      margin-right: 7%;
    }
  }
  &__choice {
    display: flex;
    gap: rem(40);
    &-btn {
      text-align: center;
      width: rem(250);
      height: rem(60);
      padding: rem(18);
      font-size: rem(20);
      line-height: 1.2em;
      font-weight: 500;
      border-radius: rem(50);
      transition: all 0.5s ease 0s;
      &--pink {
        background-color: $colorPink;
        box-shadow: 0 rem(4) rem(40) rgba(75, 40, 42, 0.45);
      }
      &--aqua {
        background-color: $colorAqua;
        box-shadow: 0 rem(4) rem(40) rgba(97, 80, 81, 0.45);
      }
    }
  }
  &__photo {
    position: relative;
    z-index: 2;
    max-width: 40%;
    &::before {
      content: "";
      position: absolute;
      border: rem(1) solid #fff;
      border-radius: rem(30);
      bottom: 2.25%;
      right: 13.985%;
      width: 102.957%;
      height: 103.16%;
      z-index: 0;
    }
    &-img {
      position: relative;
      border-radius: rem(30);
      border: rem(1) solid #fff;
      max-width: rem(374);
      width: 100%;
      filter: drop-shadow(0 rem(4) rem(30) rgba(0, 0, 0, 0.15));
    }
  }
  &__title {
    font-weight: 700;
    line-height: 1.22em;
    margin-bottom: rem(24);
    max-width: rem(575);
    font-size: rem(32);
  }
  &__text {
    font-size: rem(24);
    line-height: 1.167em;
    margin-bottom: rem(30);
    max-width: rem(540);
    font-family: "Roboto", sans-serif;
  }
}

/* ========== HAMBURG AND ZURICH PAGE HEADER ========== */
.header {
  &__fixed {
    color: $colorBlue;
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: rem(1) solid $colorBlue;
    z-index: 50;
    height: rem(89);
  }
  &__body {
    background-color: #fff;
    margin-top: rem(89);
    padding: rem(146) 0;
    overflow: hidden;
  }
  &-zurich {
    background-color: $colorSky;
    &__body {
      background-color: $colorBlue;
    }
  }
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: rem(5);
  height: rem(89);
  &__logo {
    position: relative;
    z-index: 50;
    border-radius: rem(16);
  }
  &__contact {
    min-width: rem(200);
    color: #fff;
    background-color: $colorBlue;
    border: none;
    z-index: 50;
  }
}
.menu {
  display: none;
  &__icon {
    z-index: 5;
    position: relative;
    width: rem(30);
    height: rem(18);
    background-color: inherit;
    span,
    &::before,
    &::after {
      left: 0;
      position: absolute;
      height: rem(2);
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: $colorBlue;
    }
    &::before,
    &::after {
      content: "";
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: 50%;
      transform: scale(1) translate(0, -50%);
    }
    &._active {
      span {
        transform: scale(0) translate(0, -50%);
      }
      &::before {
        top: 50%;
        transform: rotate(45deg) translate(0, -50%);
      }
      &::after {
        bottom: 50%;
        transform: rotate(-45deg) translate(0, 50%);
      }
    }
  }
  &__list {
    display: flex;
    gap: rem(30);
  }
  &__item {
    font-size: rem(18);
    line-height: 1.222em;
    font-weight: 600;
  }
  &__link {
    transition: all 0.5s ease 0s;
    border-radius: rem(4);
  }
}
.body-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__content {
    max-width: rem(565);
    position: relative;
    padding-right: rem(20);
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: -50vw;
      bottom: -50vw;
      left: -50vw;
      background-color: $colorBlue;
      z-index: 0;
    }
    &--zurich {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: -50vw;
        bottom: -50vw;
        left: -50vw;
        background-color: #fff;
        z-index: 0;
      }
    }
  }
  &__title {
    font-size: rem(39);
    line-height: 1.23em;
    position: relative;
    z-index: 1;
    margin-bottom: rem(37);
    max-width: 100%;
    &--zurich {
      color: $colorBlue;
    }
  }
  &__text {
    font-family: "Montserrat", sans-serif;
    max-width: rem(353);
    position: relative;
    z-index: 1;
    margin-bottom: rem(42);
    &--zurich {
      color: $colorBlue;
    }
  }
  &__choice {
    gap: rem(20);
    position: relative;
    z-index: 1;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(15);
    line-height: 1.2em;
    padding: 0 rem(20);
    max-width: rem(250);
    width: 100%;
  }
  &__photo {
    max-width: rem(512);
    margin-left: rem(30);
    &-img {
      width: 100%;
      border-radius: rem(30);
      max-height: rem(307);
      height: 100%;
    }
  }
}
._open {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: rem(-5);
    width: calc(100% - rem(10));
    height: rem(2);
    background-color: $colorBlue;
    animation: line 1s;
  }
}
