.header {
  background-color: $colorBlue;
  color: #fff;
  &__top {
    display: flex;
    justify-content: space-between;
    @include adaptive-value(padding-top, 19, 55.15);
    @include adaptive-value(padding-bottom, 48, 40);
  }
  // &__logo {
  // }
  &__nav {
    display: flex;
    align-items: start;
    gap: 30px;
    // &-btn {
    // }
    &-input {
      display: none;
    }
    &-search {
      cursor: pointer;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    @include adaptive-value(margin-bottom, 88, 43.8);
    &-box {
      margin-top: 7.455%;
      max-width: 54.5%;
      padding-right: 15px;
      margin-right: 7%;
    }
  }
  &__choice {
    display: flex;
    gap: 40px;
    &-btn {
      text-align: center;
      width: 250px;
      height: 60px;
      padding: 18px;
      font-size: 20px;
      // @include adaptive-font(20, 11);
      line-height: 1.2em;
      font-weight: 500;
      border-radius: 50px;
      &--1 {
        background-color: $colorPink;
        box-shadow: 0px 4px 40px rgba(75, 40, 42, 0.45);
      }
      &--2 {
        background-color: $colorAqua;
        box-shadow: 0px 4px 40px rgba(97, 80, 81, 0.45);
      }
    }
  }
  &__photo {
    position: relative;
    z-index: 2;
    max-width: 40%;
    &::before {
      content: "";
      position: absolute;
      border: 1px solid #fff;
      border-radius: 30px;
      bottom: 2.25%;
      right: 13.985%;
      width: 102.957%;
      height: 103.16%;
      z-index: 0;
    }
    &-img {
      position: relative;
      border-radius: 30px;
      border: 1px solid #fff;
      max-width: 374px;
      width: 100%;
      filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.15));
    }
  }
  &__title {
    font-weight: 700;
    line-height: 1.22em;
    @include adaptive-value(margin-bottom, 24, 17);
    max-width: 575px;
    @include adaptive-font(32, 16);
  }
  &__text {
    @include adaptive-font(24, 12.5);
    line-height: 1.167em;
    margin-bottom: 30px;
    max-width: 540px;
    font-family: "Roboto", sans-serif;
  }
}
// .logo {
// }
