.header {
  background-color: $colorBlue;
  color: #fff;
  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    padding-bottom: 48px;
  }
  &__nav {
    display: flex;
    align-items: start;
    gap: 30px;
    &-input {
      display: none;
    }
    &-search {
      cursor: pointer;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 88px;
    &-box {
      margin-top: 7.455%;
      max-width: 54.5%;
      padding-right: 15px;
      margin-right: 7%;
    }
  }
  &__choice {
    display: flex;
    gap: 40px;
    &-btn {
      text-align: center;
      width: 250px;
      height: 60px;
      padding: 18px;
      font-size: 20px;
      line-height: 1.2em;
      font-weight: 500;
      border-radius: 50px;
      transition: all 0.5s ease 0s;
      &--pink {
        background-color: $colorPink;
        box-shadow: 0px 4px 40px rgba(75, 40, 42, 0.45);
        &:hover {
          background-color: rgb(163, 79, 82);
        }
      }
      &--aqua {
        background-color: $colorAqua;
        box-shadow: 0px 4px 40px rgba(97, 80, 81, 0.45);
        &:hover {
          background-color: rgb(12, 105, 172);
        }
      }
    }
  }
  &__photo {
    position: relative;
    z-index: 2;
    max-width: 40%;
    &::before {
      content: "";
      position: absolute;
      border: 1px solid #fff;
      border-radius: 30px;
      bottom: 2.25%;
      right: 13.985%;
      width: 102.957%;
      height: 103.16%;
      z-index: 0;
    }
    &-img {
      position: relative;
      border-radius: 30px;
      border: 1px solid #fff;
      max-width: 374px;
      width: 100%;
      filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.15));
    }
  }
  &__title {
    font-weight: 700;
    line-height: 1.22em;
    margin-bottom: 24px;
    max-width: 575px;
    font-size: 32px;
  }
  &__text {
    font-size: 24px;
    line-height: 1.167em;
    margin-bottom: 30px;
    max-width: 540px;
    font-family: "Roboto", sans-serif;
  }
}

/* ========== HAMBURG PAGE HEADER ========== */
.header {
  &__fixed {
    color: $colorBlue;
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid $colorBlue;
    z-index: 50;
    height: 89px;
  }
  &__body {
    background-color: #fff;
    margin-top: 89px;
    padding: 146px 0;
    overflow: hidden;
  }
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
  &__logo {
    position: relative;
    padding: 13px 0;
    z-index: 50;
    &-img {
    }
  }
  &__menu {
  }
  &__contact {
    min-width: 200px;
    color: #fff;
    background-color: $colorBlue;
    border: none;
    z-index: 50;
  }
}
.menu {
  &__icon {
    display: none;
  }
  &__body {
  }
  &__list {
    display: flex;
    gap: 30px;
  }
  &__item {
    font-size: 18px;
    line-height: 1.222em;
    font-weight: 600;
  }
  &__link {
    transition: all 0.5s ease 0s;
    &:hover {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        width: calc(100% - 10px);
        height: 2px;
        background-color: $colorBlue;
        animation: line 1s;
      }
      @keyframes line {
        0% {
          width: 0;
        }
        50% {
          width: 105%;
        }
        100% {
          width: calc(100% - 10px);
        }
      }
    }
  }
}
.icon-menu {
}
.body-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__content {
    max-width: 565px;
    position: relative;
    padding-right: 20px;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: -50vw;
      bottom: -50vw;
      left: -50vw;
      background-color: $colorBlue;
      z-index: 0;
    }
  }
  &__title {
    font-size: 39px;
    line-height: 1.23em;
    position: relative;
    z-index: 1;
    margin-bottom: 37px;
    max-width: 100%;
  }
  &__text {
    font-family: "Montserrat", sans-serif;
    max-width: 353px;
    position: relative;
    z-index: 1;
    margin-bottom: 42px;
  }
  &__choice {
    gap: 20px;
    position: relative;
    z-index: 1;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 1.2em;
    padding: 0 20px;
    max-width: 250px;
    width: 100%;
  }
  &__photo {
    max-width: 512px;
    margin-left: 30px;
    &-img {
      width: 100%;
      border-radius: 30px;
    }
  }
}
._open {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -5px;
    width: calc(100% - 10px);
    height: 2px;
    background-color: $colorBlue;
    animation: line 1s;
  }
}
