@media (max-width: em(1249.98, 16)) {
  .services {
    &__content {
      @include adaptive-value(gap, 19.8, -500, 1);
    }
  }
}

@media (max-width: em(1199.98, 16)) {
  .footer {
    &__inner {
      margin-left: 0;
    }
  }
}

@media (max-width: em(1140.98, 16)) {
  .services {
    &__content {
      gap: rem(25);
      margin-left: rem(30);
    }
  }
}

@media (max-width: em(1129.98, 16)) {
  // ==========GLOBAL==========
  .contact-btn {
    @include adaptive-value(font-size, 20, 14.5, 1);
  }
  .inner {
    @include adaptive-value(padding-top, 120, 61.8, 1);
    @include adaptive-value(padding-bottom, 120, 61.8, 1);
  }
  .title {
    font-size: rem(40);
    @include adaptive-value(font-size, 40, 14, 1);
    @include adaptive-value(margin-bottom, 60, 30.9, 1);
  }
  .btn-blue {
    @include adaptive-value(margin-top, 60, 35, 1);
  }
  // ==========HEADER==========
  .header {
    &__top {
      @include adaptive-value(padding-top, 19, 55.15, 1);
      @include adaptive-value(padding-bottom, 48, 40, 1);
    }
    &__content {
      @include adaptive-value(margin-bottom, 88, 43.8, 1);
    }
    &__title {
      @include adaptive-value(margin-bottom, 24, 17, 1);
      @include adaptive-value(font-size, 32, 16, 1);
    }
    &__text {
      @include adaptive-value(font-size, 24, 12.5, 1);
    }
    &__body {
      @include adaptive-value(padding-top, 146, 70, 1);
      @include adaptive-value(padding-bottom, 146, 70, 1);
    }
  }
  .menu {
    &__list {
      @include adaptive-value(gap, 30, -60, 1);
      @include adaptive-value(font-size, 18, 12, 1);
    }
  }
  .body-header {
    &__content {
      min-width: 45vw;
    }
    &__title {
      @include adaptive-value(font-size, 39, 16, 1);
      @include adaptive-value(margin-bottom, 37, 17, 1);
    }
    &__text {
      @include adaptive-value(margin-bottom, 42, 25, 1);
    }
    &__btn {
      @include adaptive-value(font-size, 15, 10, 1);
    }
  }
  // ==========MAIN==========
  // =====ADVANTAGE=====
  .advantage {
    &__list {
      @include adaptive-value(gap, 50, 25, 1);
    }
    &__item {
      &-link {
        @include adaptive-icon(100, 65, 1);
      }
      &-img {
        @include adaptive-icon(61, 30, 1);
      }
      &-title {
        @include adaptive-value(font-size, 22, 13.5, 1);
      }
      &-text {
        @include adaptive-value(font-size, 16, 11.5, 1);
      }
    }
  }
  // =====ABOUT=====
  .about {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(35);
      padding: 0 rem(49);
      &-box {
        width: 100%;
        justify-self: center;
        padding: 0 rem(20);
      }
    }
    &__photo {
      margin: 0 auto;
      padding: 1.5% 0 0 3.097%;
    }
    &__text {
      @include adaptive-value(font-size, 16, 11.5, 1);
    }
    &__btn-learn--zurich {
      margin: rem(20) auto 0;
    }
  }
  // =====SUPPORT=====
  .support {
    &__list {
      @include adaptive-value(margin-bottom, 50, 32.55, 1);
      @include adaptive-value(gap, 50, 15.1, 1);
      grid-template:
        minmax(rem(130), 23.207vw) minmax(rem(130), 23.207vw) / minmax(
          rem(140),
          rem(279)
        )
        minmax(rem(140), rem(279)) minmax(rem(140), rem(279));
    }
    &__item-title {
      @include adaptive-value(font-size, 20, 11, 1);
    }
  }
  // =====TAX=====
  .tax {
    &__list {
      @include adaptive-value(margin-bottom, 60, 25.1, 1);
    }
    &__item {
      &-link {
        @include adaptive-icon(130, 62.45, 1);
      }
      &-img {
        @include adaptive-icon(68, 30.73, 1);
      }
      &-title {
        @include adaptive-value(font-size, 22, 14, 1);
        @include adaptive-value(margin-bottom, 21, 14.2, 1);
      }
      &-text {
        @include adaptive-value(font-size, 17, 11.3, 1);
        @include adaptive-value(margin-bottom, 21, 12, 1);
      }
    }
  }
  // =====INTERNATIONAL, BLOG=====
  .international,
  .blog {
    &__list {
      @include adaptive-value(gap, 31, 24.05, 1);
      @include adaptive-value(margin-bottom, 35, 29.2, 1);
    }
    &__item {
      &-link {
        @include adaptive-value(height, 69, 37.57, 1);
        @include adaptive-value(width, 69, 37.57, 1);
      }
      &-title {
        @include adaptive-value(margin-bottom, 20, 8.5, 1);
        @include adaptive-value(font-size, 20, 14.3, 1);
      }
      &-text {
        @include adaptive-value(font-size, 15, 11.55, 1);
        line-height: 1.25em;
        @include adaptive-value(padding-right, 31, 14.035, 1);
        @include adaptive-value(padding-bottom, 35, 15.859, 1);
        @include adaptive-value(padding-left, 31, 14.035, 1);
      }
    }
  }
  // =====CRIMINAL=====
  .criminal {
    &__content {
      flex-direction: column;
      align-items: center;
      gap: rem(30);
      @include adaptive-value(gap, 30, 24.1765, 1);
      &-text {
        @include adaptive-value(font-size, 18, 11.0117, 1);
        @include adaptive-value(margin-bottom, 21, 14.012, 1);
        text-align: center;
      }
    }
    &__list {
      @include adaptive-value(gap, 30, 24.1765, 1);
    }
    &__btn-more {
      @include adaptive-value(margin-top, 35, 13.744, 1);
    }
  }
  // =====WORK=====
  .work {
    &__list {
      @include adaptive-value(gap, 50, 20.8823, 1);
    }
    &__item {
      &-link {
        @include adaptive-value(height, 52, 38.2, 1);
        @include adaptive-value(width, 51, 38.2, 1);
      }
      &-text {
        @include adaptive-value(font-size, 15, 11.5059, 1);
      }
    }
  }
  // =====TOPICS=====
  .topics {
    &__content {
      flex-wrap: wrap-reverse;
      gap: rem(60);
      @include adaptive-value(gap, 60, 23, 1);
      justify-content: center;
    }
    &__text {
      @include adaptive-value(font-size, 18, 11.0117, 1);
    }
  }
  // =====SERVICES=====
  .services {
    &__item {
      @include adaptive-value(height, 90, 50, 1);
      &-title {
        @include adaptive-value(font-size, 22, 11, 1);
        @include adaptive-value(padding-right, 98, 45, 1);
        @include adaptive-value(padding-left, 98, 50, 1);
        &::before {
          @include adaptive-icon(50, 25, 1);
          @include adaptive-value(left, 30, 15, 1);
        }
        &::after {
          @include adaptive-icon(29, 13, 1);
          @include adaptive-value(right, 43, 20, 1);
        }
      }
    }
  }
  // =====SERVICES-HAMBURG=====
  .services-hamburg {
    &__title {
      width: 90%;
    }
    &__list {
      @include adaptive-value(gap, 50, 20, 1);
      @include adaptive-value(margin-bottom, 60, 25, 1);
    }
    &__item {
      &-link {
        @include adaptive-value(margin-bottom, 10, 7, 1);
      }
      &-img {
        @include adaptive-icon(51, 25, 1);
      }
      &-title {
        @include adaptive-value(font-size, 20, 12, 1);
        @include adaptive-value(margin-bottom, 20, 13, 1);
      }
      &-text {
        max-width: rem(378);
        width: 100%;
        @include adaptive-value(font-size, 16, 11, 1);
        @include adaptive-value(margin-bottom, 20, 13, 1);
      }
    }
  }
  // =====BAFA=====
  .bafa {
    &__content {
      flex-wrap: wrap;
    }
    &__text {
      @include adaptive-value(font-size, 20, 11, 1);
      @include adaptive-value(margin-bottom, 20, 13, 1);
    }
    &__btn {
      @include adaptive-value(font-size, 15, 11.5, 1);
      width: 56.928%;
    }
  }
  // =====COMMENT=====
  .comment {
    &__title {
      width: 90.1vw;
      margin-left: auto;
      margin-right: auto;
    }
    &__photo {
      @include adaptive-value(margin-bottom, 60, 30.9, 1);
      &-img {
        width: 66.874vw;
      }
    }
    &__text {
      width: 85.918vw;
      @include adaptive-value(font-size, 22, 11.5, 1);
      @include adaptive-value(margin-bottom, 26, 12, 1);
    }
  }
  // =====TAX-ZURICH=====
  .tax-zurich {
    &__list {
      @include adaptive-value(gap, 50, 24.05, 1);
      @include adaptive-value(margin-bottom, 60, 29.2, 1);
    }
    &__item {
      &-link {
        @include adaptive-value(height, 109, 70.57, 1);
      }
      &-img {
        @include adaptive-icon(69, 37.57, 1);
      }
      &-title {
        @include adaptive-value(margin-bottom, 20, 8.5, 1);
        @include adaptive-value(font-size, 20, 14.3, 1);
      }
      &-text {
        @include adaptive-value(font-size, 15, 11.55, 1);
        line-height: 1.25em;
        @include adaptive-value(padding-right, 31, 15.859, 1);
        @include adaptive-value(padding-bottom, 25, 14.035, 1);
        @include adaptive-value(padding-left, 31, 15.859, 1);
      }
    }
  }
  // =====PROBLEMS=====
  .problems {
    &__content {
      flex-wrap: wrap;
    }
    &__text {
      @include adaptive-value(font-size, 16, 11.55, 1);
    }
  }
  // =====CRIMINAL-ZURICH=====
  .criminal-zurich {
    &__item {
      @include adaptive-value(height, 90, 55, 1);
      &-title {
        @include adaptive-value(font-size, 22, 14.5, 1);
        @include adaptive-value(padding-right, 115, 60, 1);
        @include adaptive-value(padding-left, 115, 60, 1);
        &::before {
          @include adaptive-icon(50, 25, 1);
          @include adaptive-value(left, 50, 25, 1);
        }
        &::after {
          @include adaptive-icon(40, 20, 1);
          @include adaptive-value(right, 50, 25, 1);
        }
      }
    }
  }
  // =====ZOLL=====
  .zoll {
    &__text {
      @include adaptive-value(font-size, 16, 11.55, 1);
      @include adaptive-value(margin-bottom, 20, 13, 1);
    }
    &__btn-learn {
      @include adaptive-value(margin-top, 30, 20, 1);
    }
  }
  // =====ACQUAINTANCE=====
  .acquaintance {
    &__subtitle {
      @include adaptive-value(font-size, 22, 14.5, 1);
      @include adaptive-value(margin-bottom, 35, 20, 1);
    }
    &__item {
      &-title {
        @include adaptive-value(font-size, 24, 14.7, 1);
        @include adaptive-value(margin-bottom, 20, 10, 1);
        @include adaptive-value(margin-left, 95, 20, 1);
      }
      &-text {
        @include adaptive-value(font-size, 20, 14.2, 1);
        @include adaptive-value(margin-bottom, 20, 10, 1);
        @include adaptive-value(margin-left, 95, 20, 1);
      }
    }
    &__photo {
      @include adaptive-value(margin-bottom, 30, 15, 1);
      @include adaptive-value(padding-top, 47, 20, 1);
      &--nils {
        @include adaptive-value(padding-left, 45, 19, 1);
      }
      &--marcel {
        @include adaptive-value(padding-right, 45, 19, 1);
      }
    }
  }
  // =====FEEDBACK=====
  .feedback {
    &__subtitle {
      @include adaptive-value(font-size, 22, 13.847, 1);
      @include adaptive-value(margin-bottom, 35, 30, 1);
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 rem(50);
      @include adaptive-value(gap, 60, 30, 1);
      &-box {
        margin-top: 0;
      }
    }
    &__photo {
      padding: rem(24) 0 0 rem(31);
      &::before {
        width: 93.31%;
        max-height: 94.2%;
      }
    }
    &__form {
      width: 42.88vw;
      &-input {
        width: 42.316vw;
        @include adaptive-value(margin-bottom, 36, 18, 1);
      }
    }
  }
  // ==========FOOTER==========
  .footer {
    &__inner {
      display: none;
    }
  }
}
@media (max-width: em(1088.98, 16)) {
  .bafa {
    &__text {
      br {
        display: none;
      }
    }
  }
  .tax-zurich {
    &__list {
      grid-template: repeat(3, 1fr) / 1fr;
    }
    &__item {
      width: 51.45vw;
      height: 100%;
      &-btn {
        width: 75%;
        @include adaptive-value(font-size, 15, 11, 1);
      }
    }
  }
  .problems {
    &__content {
      justify-content: center;
    }
  }
  .zoll {
    &__content {
      flex-direction: column;
      align-items: center;
      justify-content: start;
      @include adaptive-value(gap, 30, 20, 1);
      &-box {
        max-width: 60vw;
      }
    }
    &__photo {
      padding: 0;
    }
    &__btn-learn {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media (max-width: em(1064.98, 16)) {
  .problems {
    &__content {
      flex-direction: column;
      @include adaptive-value(gap, 30, 20, 1);
      &-box {
        padding: 0;
      }
    }
    &__photo {
      padding: 4.058% 0 0 4.348%;
      &::before {
        width: 91%;
      }
    }
    &__btn-learn {
      margin: rem(10) auto 0;
    }
  }
  .acquaintance {
    &__photo-img {
      height: 30vw;
    }
  }
}

@media (max-width: em(1043.98, 16)) {
  .bafa {
    &__content {
      justify-content: center;
    }
    &__text {
      @include adaptive-value(margin-top, 20, 13, 1);
      padding-right: rem(20);
      max-width: rem(547);
    }
  }
  .zoll {
    &__photo-img {
      width: 55vw;
    }
  }
}

@media (max-width: em(991.98, 16)) {
  .header {
    &__fixed {
      &::before {
        content: "";
        position: absolute;
        bottom: rem(-1);
        width: 100%;
        height: rem(1);
        background-color: $colorBlue;
        z-index: 51;
      }
    }
  }
  .top-header {
    justify-content: end;
    gap: rem(50);
    &__logo {
      flex: rem(1) rem(1) auto;
      width: 100%;
    }
  }
  .menu {
    display: block;
    height: rem(30);
    &__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba($colorBlue, 0.95);
      padding: rem(110) rem(30) rem(30) rem(30);
      transition: all 0.3s ease 0s;
      color: $colorSky;
      overflow: auto;
      &._active {
        left: 0;
        &::before {
          background-color: #fff;
        }
      }
      &::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: rem(89);
        background-color: #fff;
        z-index: 51;
      }
      &--zurich {
        &._active {
          left: 0;
          &::before {
            background-color: $colorSky;
          }
        }
        &::before {
          content: "";
          position: fixed;
          width: 100%;
          top: 0;
          left: 0;
          height: rem(89);
          background-color: $colorSky;
          z-index: 51;
        }
      }
    }
    &__item {
      margin: 0 0 rem(30) 0;
      font-size: rem(24);
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 0;
      align-items: center;
    }
    &__link {
      &:hover {
        &::before {
          background-color: $colorSky;
        }
      }
    }
  }
  ._open {
    &::before {
      background-color: $colorSky;
    }
  }
  .advantage,
  .tax,
  .international,
  .blog {
    &__list {
      grid-template: repeat(3, 1fr) / 1fr;
    }
  }
  .advantage,
  .tax {
    &__item-text {
      @include adaptive-value(width, 450, 176, 1);
    }
  }
  .international,
  .blog {
    &__item {
      width: 51.45vw;
      height: 100%;
    }
  }
  .services-hamburg {
    &__list {
      grid-template: repeat(6, 1fr) / 1fr;
      place-items: center;
    }
  }
  .bafa {
    &__title {
      width: 85vw;
    }
  }
  .criminal-zurich {
    &__item {
      max-width: 67.54vw;
      min-width: rem(250);
    }
  }
}

@media (max-width: em(879.98, 16)) {
  .btn-more {
    font-size: rem(15);
    &::after {
      width: rem(22);
      height: rem(22);
    }
  }
  .btn-blue {
    font-size: rem(15);
  }
  .work {
    &__list {
      grid-template: repeat(3, 1fr) / 33vw;
    }
  }
  .topics {
    &__photo {
      padding-top: 4.3182vw;
      padding-left: 3.6364vw;
    }
  }
}

@media (max-width: em(819.98, 16)) {
  .topics {
    &__photo {
      padding-top: rem(35.4);
      padding-left: rem(29.8);
    }
  }
}

@media (max-width: em(767.98, 16)) {
  // ==========GLOBAL==========
  .contact-btn {
    @include adaptive-value(font-size, 20, 14.5, 2);
  }
  .inner {
    @include adaptive-value(padding-top, 120, 61.8, 2);
    @include adaptive-value(padding-bottom, 120, 61.8, 2);
  }
  .title {
    @include adaptive-value(font-size, 40, 14, 2);
    @include adaptive-value(margin-bottom, 60, 30.9, 2);
  }
  .btn-blue {
    @include adaptive-value(margin-top, 60, 35, 2);
  }
  //
  // ==========HEADER==========
  .header {
    &__top {
      @include adaptive-value(padding-top, 19, 55.15, 2);
      @include adaptive-value(padding-bottom, 48, 40, 2);
    }
    &__choice {
      &-btn {
        height: rem(40);
        padding: rem(12);
        font-size: rem(12);
      }
    }
    &__content {
      @include adaptive-value(margin-bottom, 88, 43.8, 2);
    }
    &__title {
      @include adaptive-value(margin-bottom, 24, 17, 2);
      @include adaptive-value(font-size, 32, 16, 2);
    }
    &__text {
      @include adaptive-value(font-size, 24, 12.5, 2);
    }
    &__body {
      @include adaptive-value(padding-top, 146, 70, 2);
      @include adaptive-value(padding-bottom, 146, 70, 2);
    }
  }
  .top-header {
    &__contact {
      min-width: rem(140);
    }
  }
  .menu {
    &__list {
      @include adaptive-value(gap, 30, -60, 2);
      @include adaptive-value(font-size, 18, 12, 2);
    }
  }
  .body-header {
    &__title {
      @include adaptive-value(font-size, 39, 16, 2);
      @include adaptive-value(margin-bottom, 37, 17, 2);
    }
    &__text {
      @include adaptive-value(margin-bottom, 42, 25, 2);
    }
    &__choice {
      display: flex;
      flex-wrap: wrap;
      gap: rem(30);
    }
    &__btn {
      max-width: 100%;
      @include adaptive-value(font-size, 15, 10, 2);
    }
    &__photo {
      @include adaptive-value(margin-left, 30, 15, 2);
      &-img {
        min-height: rem(250);
      }
    }
  }
  // ==========MAIN==========
  // =====ADVANTAGE=====
  .advantage {
    &__list {
      @include adaptive-value(gap, 50, 25, 2);
    }
    &__item {
      &-link {
        @include adaptive-icon(100, 65, 2);
      }
      &-img {
        @include adaptive-icon(61, 30, 2);
      }
      &-title {
        @include adaptive-value(font-size, 22, 13.5, 2);
      }
      &-text {
        @include adaptive-value(font-size, 16, 11.5, 2);
        @include adaptive-value(width, 450, 176, 2);
      }
    }
  }
  // =====ABOUT=====
  .about {
    &__text {
      @include adaptive-value(font-size, 16, 11.5, 2);
    }
  }
  // =====SUPPORT=====
  .support {
    &__list {
      @include adaptive-value(margin-bottom, 50, 32.55, 2);
      @include adaptive-value(gap, 50, 15.1, 2);
      grid-template: repeat(3, 33vw) / repeat(2, 34.5415vw);
    }
    &__item-title {
      @include adaptive-value(font-size, 20, 11, 2);
    }
  }
  // =====TAX=====
  .tax {
    &__list {
      @include adaptive-value(margin-bottom, 60, 25.1, 2);
    }
    &__item {
      &-link {
        @include adaptive-icon(130, 62.45, 2);
      }
      &-img {
        @include adaptive-icon(68, 30.73, 2);
      }
      &-title {
        @include adaptive-value(font-size, 22, 14, 2);
        @include adaptive-value(margin-bottom, 21, 14.2, 2);
      }
      &-text {
        @include adaptive-value(font-size, 17, 11.3, 2);
        @include adaptive-value(margin-bottom, 21, 12, 2);
      }
    }
  }
  // =====INTERNATIONAL, BLOG=====
  .international,
  .blog {
    &__list {
      @include adaptive-value(gap, 31, 24.05, 2);
      @include adaptive-value(margin-bottom, 35, 29.2, 2);
    }
    &__item {
      &-link {
        @include adaptive-value(height, 69, 37.57, 2);
        @include adaptive-value(width, 69, 37.57, 2);
      }
      &-title {
        @include adaptive-value(margin-bottom, 20, 8.5, 2);
        @include adaptive-value(font-size, 20, 14.3, 2);
      }
      &-text {
        @include adaptive-value(font-size, 15, 11.55, 2);
        line-height: 1.25em;
        @include adaptive-value(padding-right, 35, 14.035, 2);
        @include adaptive-value(padding-bottom, 31, 15.859, 2);
        @include adaptive-value(padding-left, 35, 14.035, 2);
      }
    }
  }
  // =====CRIMINAL=====
  .criminal {
    &__content {
      @include adaptive-value(gap, 30, 24.1765, 2);
      &-text {
        @include adaptive-value(font-size, 18, 11.0117, 2);
        @include adaptive-value(margin-bottom, 21, 14.012, 2);
      }
    }
    &__list {
      grid-template: 1fr / rem(299);
      @include adaptive-value(gap, 30, 24.1765, 2);
    }
    &__btn-more {
      @include adaptive-value(margin-top, 35, 13.744, 2);
    }
  }
  // =====WORK=====
  .work {
    &__list {
      @include adaptive-value(gap, 50, 20.8823, 2);
    }
    &__item {
      &-link {
        @include adaptive-value(height, 52, 38.2, 2);
        @include adaptive-value(width, 51, 38.2, 2);
      }
      &-text {
        @include adaptive-value(font-size, 15, 11.5059, 2);
      }
    }
  }
  // =====TOPICS=====
  .topics {
    &__content {
      @include adaptive-value(gap, 60, 18, 2);
    }
    &__text {
      @include adaptive-value(font-size, 18, 11.0117, 2);
    }
  }
  // =====SERVICES=====
  .services {
    &__content {
      position: relative;
      margin-left: 0;
      &-box {
        padding: rem(20) 0;
        margin: 0 auto;
      }
    }
    &__photo {
      position: absolute;
      left: 0;
      z-index: -1;
      height: 100%;
      &::before {
        display: none;
      }
      &-img {
        min-height: 100%;
        height: 100%;
        min-width: calc(100vw - rem(30));
        width: 100%;
        opacity: 0.6;
      }
    }
    &__item {
      @include adaptive-value(height, 90, 50, 2);
      &-title {
        @include adaptive-value(font-size, 22, 11, 2);
        @include adaptive-value(padding-right, 98, 45, 2);
        @include adaptive-value(padding-left, 98, 50, 2);
        &::before {
          @include adaptive-icon(50, 25, 2);
          @include adaptive-value(left, 30, 15, 2);
        }
        &::after {
          @include adaptive-icon(29, 13, 2);
          @include adaptive-value(right, 43, 20, 2);
        }
      }
    }
  }
  // =====SERVICES-HAMBURG=====
  .services-hamburg {
    &__list {
      @include adaptive-value(gap, 50, 20, 2);
      @include adaptive-value(margin-bottom, 60, 25, 2);
    }
    &__item {
      &-link {
        @include adaptive-value(margin-bottom, 10, 7, 2);
      }
      &-img {
        @include adaptive-icon(51, 25, 2);
      }
      &-title {
        @include adaptive-value(font-size, 20, 12, 2);
        @include adaptive-value(margin-bottom, 20, 13, 2);
      }
      &-text {
        @include adaptive-value(font-size, 16, 11, 2);
        @include adaptive-value(margin-bottom, 20, 13, 2);
      }
      &-btn {
        @include adaptive-value(height, 40, 30, 2);
      }
    }
    &__btn {
      @include adaptive-value(height, 69, 35, 2);
    }
  }
  // =====BAFA=====
  .bafa {
    &__photo {
      width: 63.62451vw;
      &-img {
        width: 86.68033%;
      }
    }
    &__text {
      width: 70vw;
      @include adaptive-value(font-size, 20, 11, 2);
      @include adaptive-value(margin-top, 20, 13, 2);
      @include adaptive-value(margin-bottom, 20, 13, 2);
      padding: 0;
    }
    &__btn {
      @include adaptive-value(font-size, 15, 11.5, 2);
      height: rem(50);
    }
  }
  // =====COMMENT=====
  .comment {
    &__photo {
      @include adaptive-value(margin-bottom, 60, 30.9, 2);
    }
    &__text {
      @include adaptive-value(font-size, 22, 11.5, 2);
      @include adaptive-value(margin-bottom, 26, 12, 2);
    }
  }
  // =====TAX-ZURICH=====
  .tax-zurich {
    &__list {
      @include adaptive-value(gap, 50, 24.05, 2);
      @include adaptive-value(margin-bottom, 60, 29.2, 2);
    }
    &__item {
      &-link {
        @include adaptive-value(height, 69, 37.57, 2);
        @include adaptive-value(width, 69, 37.57, 2);
      }
      &-title {
        @include adaptive-value(margin-bottom, 20, 8.5, 2);
        @include adaptive-value(font-size, 20, 14.3, 2);
      }
      &-text {
        @include adaptive-value(font-size, 15, 11.55, 2);
        line-height: 1.25em;
        @include adaptive-value(padding-right, 31, 15.859, 2);
        @include adaptive-value(padding-bottom, 25, 14.035, 2);
        @include adaptive-value(padding-left, 31, 15.859, 2);
      }
      &-btn {
        @include adaptive-value(font-size, 15, 11, 2);
      }
    }
  }
  // =====PROBLEMS=====
  .problems {
    &__content {
      @include adaptive-value(gap, 30, 20, 2);
      &-box {
        max-width: 69vw;
      }
    }
    &__photo {
      &-img {
        width: 75vw;
      }
    }
    &__text {
      @include adaptive-value(font-size, 16, 11.55, 2);
    }
  }
  // =====CRIMINAL-ZURICH=====
  .criminal-zurich {
    &__item {
      @include adaptive-value(height, 90, 55, 2);
      &-title {
        @include adaptive-value(font-size, 22, 14.5, 2);
        @include adaptive-value(padding-right, 115, 60, 2);
        @include adaptive-value(padding-left, 115, 60, 2);
        &::before {
          @include adaptive-icon(50, 25, 2);
          @include adaptive-value(left, 50, 25, 2);
        }
        &::after {
          @include adaptive-icon(40, 20, 2);
          @include adaptive-value(right, 50, 25, 2);
        }
      }
    }
  }
  // =====ZOLL=====
  .zoll {
    &__photo-img {
      width: 60vw;
    }
    &__text {
      @include adaptive-value(font-size, 16, 11.55, 2);
      @include adaptive-value(margin-bottom, 20, 13, 2);
    }
    &__btn-learn {
      @include adaptive-value(margin-top, 30, 20, 2);
    }
  }
  // =====ACQUAINTANCE=====
  .acquaintance {
    &__subtitle {
      @include adaptive-value(font-size, 22, 14.5, 2);
      @include adaptive-value(margin-bottom, 35, 20, 2);
    }
    &__content {
      justify-content: start;
      flex-direction: column;
      align-items: center;
      @include adaptive-value(gap, 50, 20, 2);
    }
    &__item {
      &-title {
        @include adaptive-value(font-size, 24, 14, 2);
        @include adaptive-value(margin-bottom, 20, 10, 2);
        @include adaptive-value(margin-left, 95, 10, 2);
      }
      &-text {
        @include adaptive-value(font-size, 20, 13, 2);
        @include adaptive-value(margin-bottom, 20, 10, 2);
        @include adaptive-value(margin-left, 95, 10, 2);
      }
    }
    &__photo {
      @include adaptive-value(margin-bottom, 30, 15, 2);
      &::before {
        display: none;
      }
      &--nils {
        padding: 0;
      }
      &--marcel {
        padding: 0;
      }
      &-img {
        // max-height: 35vw;
        height: auto;
        width: 55vw;
      }
    }
  }
  // =====FEEDBACK=====
  .feedback {
    &__subtitle {
      @include adaptive-value(font-size, 22, 13.847, 2);
      @include adaptive-value(margin-bottom, 35, 30, 2);
    }
    &__content {
      @include adaptive-value(gap, 60, 30.7, 2);
    }
    &__form {
      &-input {
        @include adaptive-value(margin-bottom, 36, 18, 2);
      }
    }
  }
}

@media (max-width: em(719.98, 16)) {
  .feedback {
    &__form {
      &-input,
      &-btn {
        height: 8.29vw;
      }
    }
  }
}

@media (max-width: em(659.98, 16)) {
  .btn-more {
    font-size: rem(12);
    width: 34.5415vw;
    height: 6.27vw;
    &::after {
      width: rem(16);
      height: rem(16);
    }
  }
  .btn-blue {
    font-size: rem(12);
    width: 51.5vw;
    height: 9vw;
    min-width: rem(180);
    min-height: rem(34);
  }
  .support {
    &__item-btn {
      width: 100%;
    }
  }
  .criminal {
    &__item-btn {
      width: calc(100% + rem(2));
      height: rem(40);
    }
    &__btn-more {
      height: rem(40);
    }
  }
  .work {
    &__list {
      grid-template: repeat(3, 1fr) / 40vw;
    }
  }
  .topics {
    &__photo {
      padding-top: 5.363vw;
      padding-left: 4.5145vw;
    }
  }
  .feedback {
    &__form {
      &-input::placeholder,
      &-btn {
        font-size: rem(15);
      }
    }
  }
}

@media (max-width: em(549.98, 16)) {
  .header {
    &__logo {
      &-img {
        height: rem(55);
      }
    }
    &__nav {
      gap: rem(25);
      &-btn {
        width: rem(120);
        padding: rem(13);
      }
    }
    &__choice {
      gap: rem(15);
      &-btn {
        min-width: rem(110);
      }
    }
    &__text {
      max-width: rem(200);
    }
  }
  .top-header {
    &__contact {
      min-width: rem(120);
    }
  }
  .body-header {
    &__choice {
      gap: rem(25);
    }
  }
  .work {
    &__list {
      grid-template: repeat(3, 1fr) / 49.3vw;
    }
    &__item-link {
      margin-bottom: rem(15);
    }
  }
  .services-hamburg {
    &__list {
      grid-template: repeat(6, 1fr) / 70vw;
    }
    &__btn {
      &-style {
        width: 55vw;
        font-size: rem(11);
      }
    }
  }
  .bafa {
    &__btn {
      height: rem(40);
    }
  }
  .tax-zurich {
    &__item {
      width: 65vw;
    }
  }
}

@media (max-width: em(519.98, 16)) {
  .international,
  .blog {
    &__item-link {
      margin-bottom: rem(10);
    }
  }
  .feedback {
    &__form {
      &-input::placeholder,
      &-btn {
        font-size: rem(12);
      }
    }
  }
}

@media (max-width: em(439.98, 16)) {
  .btn-more {
    font-size: rem(10);
    &::after {
      width: rem(13);
      height: rem(13);
    }
  }
  .header {
    &__text {
      max-width: rem(180);
    }
  }
  .top-header {
    gap: rem(30);
  }
  .bafa {
    &__btn {
      height: rem(35);
    }
  }
  .about__btn-learn--zurich,
  .zoll__btn-learn {
    width: 83%;
    font-size: rem(12);
  }
  .tax-zurich,
  .problems {
    &__btn-learn {
      width: 50vw;
      font-size: rem(12);
    }
  }
}

@media (max-width: em(413.98, 16)) {
  .btn-more {
    width: rem(143);
    height: rem(26);
  }
  .header {
    &__content {
      &-box {
        margin-top: 4.433%;
        width: rem(200);
        margin-right: rem(15);
      }
    }
    &__title {
      margin-bottom: rem(18);
    }
    &__text {
      margin-bottom: rem(45);
      min-width: rem(155);
    }
  }
  .body-header {
    &__text {
      @include adaptive-value(margin-bottom, 42, 25, 2);
    }
  }
  .about {
    &__content {
      grid-template: 0.4fr 1fr / rem(285);
    }
  }
  .support {
    &__item {
      &-btn {
        width: 100%;
      }
    }
  }
  .international,
  .blog {
    &__item {
      width: rem(213);
    }
  }
  .criminal {
    &__item-btn {
      width: calc(100% + rem(2));
    }
  }
  .comment {
    &__btn {
      font-size: rem(10);
    }
  }
  .feedback {
    &__photo {
      padding: 5.797vw 0 0 7.488vw;
    }
  }
}

@media (max-width: em(379.98, 16)) {
  .about {
    &__content-box {
      padding: 0 rem(10);
    }
  }
  .support {
    &__list {
      grid-template: repeat(3, rem(125.39)) / repeat(2, rem(131.25));
    }
  }
}

@media (max-width: em(378.98, 16)) {
  .header {
    &__text {
      margin-bottom: rem(25);
    }
  }
  .body-header {
    &__text {
      @include adaptive-value(margin-bottom, 42, 25, 2);
    }
  }
}

@media (max-width: em(329.98, 16)) {
  .criminal {
    &__list {
      grid-template: 1fr / rem(289);
    }
    &__item-btn {
      min-width: rem(289);
    }
  }
}
@media (any-hover: hover) {
  :focus {
    outline: 0.125rem solid #1d90f5;
    outline-offset: 0.25rem;
  }
  body:not(.user-is-tabbing) :focus {
    outline: none;
  }
  .img:hover {
    transform: scale(1.02);
  }
  .contact-btn:hover {
    box-shadow: 0 0 rem(15) $colorAqua;
  }
  .btn-more:hover {
    background-color: $colorBlue;
  }
  .btn-learn:hover {
    background-color: $colorBlue;
  }
  .btn-blue:hover {
    background-color: $colorAqua;
  }
  .header {
    &__choice-btn {
      &--pink:hover {
        background-color: rgb(163, 79, 82);
      }
      &--aqua:hover {
        background-color: rgb(12, 105, 172);
      }
    }
  }
  .menu__link:hover {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: rem(-5);
      width: calc(100% - rem(10));
      height: rem(2);
      background-color: $colorBlue;
      animation: line 1s;
    }
    @keyframes line {
      0% {
        width: 0;
      }
      50% {
        width: 105%;
      }
      100% {
        width: calc(100% - rem(10));
      }
    }
  }
  .about__btn-learn--zurich:hover {
    background-color: $colorSky;
    color: $colorBlue;
  }
  .advantage__item-link:hover {
    box-shadow: 0 0 rem(15) $colorAqua;
  }
  .bafa__btn:hover {
    background-color: $colorBlue;
  }
  .blog {
    &__item:hover {
      transform: scale(1.03);
    }
    &__btn:hover {
      background-color: $colorSky;
      color: $colorBlue;
      &::after {
        background-color: $colorBlue;
        background-size: cover;
      }
    }
  }
  .criminal-zurich__item:hover {
    box-shadow: 0 0 rem(15) $colorAqua;
  }
  .criminal__item:hover {
    transform: scale(1.03);
  }
  .feedback__form-btn:hover {
    background-color: $colorAqua;
  }
  .international__item:hover {
    transform: scale(1.03);
  }
  .services-hamburg {
    &__item:hover {
      transform: scale(1.03);
    }
    &__btn:hover {
      background-color: $colorAqua;
    }
  }
  .services__item {
    &--aqua:hover {
      box-shadow: 0 0 rem(15) $colorBlue;
    }
    &--blue:hover {
      box-shadow: 0 0 rem(15) $colorAqua;
    }
  }
  .support {
    &__item {
      &:hover {
        transform: scale(1.03);
      }
      &-btn:hover {
        background-color: $colorSky;
        color: $colorBlue;
        &::after {
          background-color: $colorBlue;
          background-size: cover;
        }
      }
    }
    &__btn:hover {
      background-color: $colorSky;
      color: $colorBlue;
      &::after {
        background-color: $colorBlue;
        background-size: cover;
      }
    }
  }
  .tax-zurich__item:hover {
    transform: scale(1.03);
  }
  .tax__item-link:hover {
    box-shadow: 0 0 rem(15) $colorPink;
  }
}
