$colorBlue: #002d62;
$colorAqua: #1991e8;
$colorSky: #c8dcf0;
$colorPink: #c9666b;

$maxWidth: 1130;

@mixin adaptive-font($pcSize, $mobSize) {
  font-size: $pcSize + px;
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 1129px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
  @media (max-width: 767px) {
    font-size: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
    );
  }
}

@mixin adaptive-icon($pcSize, $mobSize) {
  width: $pcSize + px;
  height: $pcSize + px;
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 1129px) {
    width: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    height: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
  @media (max-width: 767px) {
    width: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
    );
    height: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
    );
  }
}

@mixin adaptive-value($property, $pcSize, $mobSize) {
  #{$property}: $pcSize + px;
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 1129px) {
    #{$property}: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
  @media (max-width: 767px) {
    #{$property}: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
    );
  }
}
