/* <NULLSTYLE> ========== */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* </NULLSTYLE> ========== */
/* <GLOBAL> ================================================== */
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
  color: #000;
}

a {
  color: inherit;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
}

.logo {
  font-size: 2.25rem;
  line-height: 3.375rem;
}
.logo span {
  color: #939393;
}

.title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 5rem;
}

.item-title {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 3rem;
  color: #263238;
}

._lock {
  overflow: hidden;
}

/* </GLOBAL> ================================================== */
/* <HEADER> ==================================================*/
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 180px;
  border-bottom: 1px solid #c4c4c4;
}
.header__top-btn {
  font-size: 1.5rem;
  line-height: 2.25rem;
  width: 220px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #263238;
  border-radius: 5px;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
}
.header__content {
  max-width: 560px;
  padding-right: 15px;
}
.header__title {
  font-weight: 600;
  font-size: 4rem;
  line-height: 5rem;
  padding-right: 120px;
  margin-bottom: 40px;
  position: relative;
}
.header__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 88px;
  width: 120px;
  height: 120px;
  background-image: url("../img/header-light.png");
  background-size: cover;
}
.header__text {
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #8f95a5;
  margin-bottom: 60px;
}
.header__content-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 438px;
  height: 118px;
  background-color: #263238;
  border-radius: 15px;
  color: white;
  font-size: 2.25rem;
  line-height: 3.375rem;
}
.header__photo {
  max-width: 653px;
}
.header__photo-img {
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  max-width: 1340px;
  width: calc(100vw - 60px);
  z-index: 50;
  background-color: #fff;
}

.menu__icon {
  display: none;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.menu__item {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #263238;
}
/* </HEADER> ================================================== */
/* <MAIN> ================================================== */
/* <ABOUT> ========== */
/* </ABOUT> ========== */
/* </MAIN> ================================================== */
/* <FOOTER> ==================================================*/
/* </FOOTER> ================================================== */
/* <MEDIA> ==================================================*/
@media (max-width: 1300px) {
  .header__body {
    margin-top: 55px;
  }
  .header__content {
    width: 500px;
  }
  .header__content-btn {
    width: 365px;
    height: 100px;
    font-size: 1.875rem;
    line-height: 2.8125rem;
  }
  .header__title {
    width: 450px;
    font-size: 3.5rem;
    line-height: 4.5rem;
    padding-right: 100px;
    margin-bottom: 34px;
  }
  .header__title::after {
    width: 100px;
    height: 100px;
    top: 78px;
  }
  .header__text {
    font-size: 1.375rem;
    line-height: 2.125rem;
    margin-bottom: 45px;
  }
  .header__photo {
    max-width: 580px;
  }
}
@media (max-width: 1150px) {
  .header__top {
    height: 100px;
  }
  .header__top-btn {
    font-size: 1.125rem;
    line-height: 1.6875rem;
    height: 50px;
    width: 160px;
  }
  .header__logo {
    font-size: 1.875rem;
    line-height: 2.8125rem;
  }
  .header__body {
    margin-top: 65px;
  }
  .header__content {
    width: 435px;
  }
  .header__content-btn {
    width: 292px;
    height: 80px;
    font-size: 1.5rem;
    line-height: 2.25rem;
    border-radius: 5px;
  }
  .header__title {
    font-size: 3rem;
    line-height: 4rem;
    width: 370px;
    padding-right: 80px;
    margin-bottom: 27px;
  }
  .header__title::after {
    width: 80px;
    height: 80px;
  }
  .header__text {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 34px;
  }
  .header__photo {
    max-width: 480px;
  }
  .menu__list {
    gap: 20px;
  }
  .menu__item {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 991px) {
  .header__body {
    margin-top: 55px;
  }
  .header__content {
    width: 390px;
  }
  .header__content-btn {
    width: 264px;
    height: 72px;
    font-size: 1.3125rem;
    line-height: 2rem;
  }
  .header__title {
    font-size: 2.5rem;
    line-height: 3.375rem;
    width: 310px;
    padding-right: 60px;
    margin-bottom: 26px;
  }
  .header__title::after {
    width: 70px;
    height: 70px;
    top: 80px;
  }
  .header__text {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 33px;
  }
  .header__photo {
    max-width: 416px;
  }
}
@media (max-width: 870px) {
  .header__body {
    margin-top: 45px;
  }
  .header__content {
    width: 350px;
  }
  .header__content-btn {
    width: 236px;
    height: 65px;
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
  .header__title {
    font-size: 2.25rem;
    line-height: 2.8125rem;
    width: 275px;
    margin-bottom: 25px;
    padding-right: 50px;
  }
  .header__title::after {
    width: 60px;
    height: 60px;
    top: 68px;
  }
  .header__text {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 32px;
  }
  .header__photo {
    max-width: 355px;
  }
}
@media (max-width: 767px) {
  .menu__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 30px;
    height: 18px;
    background-color: inherit;
    right: 10px;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 3px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #39515e;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
    width: 70%;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, -50%);
        -ms-transform: rotate(45deg) translate(0px, -50%);
            transform: rotate(45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    width: 100%;
    -webkit-transform: rotate(-45deg) translate(0px, 50%);
        -ms-transform: rotate(-45deg) translate(0px, 50%);
            transform: rotate(-45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 99px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 50, 56, 0.95);
    padding: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__item {
    margin: 0px 0px 30px 0px;
    font-size: 1.5rem;
    color: #fff;
  }
  .menu__item:last-child {
    margin: 0;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  .header__top-btn {
    position: absolute;
    top: -50px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__top-btn._active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 25px;
    z-index: 51;
    background-color: #fff;
  }
}
@media (max-width: 764px) {
  .header__body {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 640px;
    width: 100%;
    padding: 0;
  }
  .header__content-btn {
    width: 305px;
    height: 75px;
  }
  .header__title {
    font-size: 2.125rem;
    max-width: 500px;
    padding: 0;
    text-align: center;
  }
  .header__title::after,
.header__title br {
    display: none;
  }
  .header__text {
    margin-bottom: 37px;
    text-align: center;
  }
  .header__photo {
    max-width: 424px;
  }
}
@media (max-width: 560px) {
  .container {
    padding: 0 15px;
  }
  .fixed {
    width: calc(100vw - 30px);
  }
  .header__top-btn {
    width: 150px;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .header__content-btn {
    width: 289px;
    height: 60px;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .header__logo, .header__title {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
  .header__text {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
}
/* </MEDIA> ================================================== */