.home {
  padding-top: 180px;
  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 10px;
  }
  &__content-box {
    max-width: 560px;
    padding-right: 15px;
  }
  &__title {
    font-weight: 600;
    font-size: rem(64);
    line-height: rem(80);
    padding-right: 120px;
    margin-bottom: 40px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 88px;
      width: 120px;
      height: 120px;
      background-image: url("../img/home-light.png");
      background-size: cover;
    }
    br {
      &:last-child {
        display: none;
      }
    }
  }
  &__text {
    font-size: rem(24);
    line-height: rem(36);
    color: $colorGray;
    margin-bottom: 60px;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 438px;
    height: 118px;
    background-color: $colorBlack;
    border-radius: 15px;
    color: white;
    font-size: rem(36);
    line-height: rem(54);
  }
  &__photo {
    max-width: 653px;
    &-img {
      width: 100%;
    }
  }
}
