.price {
  &__title {
    margin-bottom: 70px;
    text-align: center;
  }
  &__list {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    gap: 60px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    &__photo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 283px;
      margin-bottom: 55px;
      &-img {
        max-height: 283px;
        max-width: 99%;
      }
    }
    &__title {
      font-weight: 600;
      font-size: rem(30);
      line-height: rem(48);
      margin-bottom: 20px;
    }
    &__text {
      flex: 1 1 auto;
      margin-bottom: 30px;
    }
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 240px;
      height: 45px;
      background-color: #eeeeee;
      color: $colorBlack;
      font-size: rem(30);
      line-height: rem(45);
      gap: 9px;
      border-radius: 5px;
      span {
        color: #546269;
        font-size: rem(18);
        line-height: rem(27);
      }
    }
  }
}
