@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800&display=swap");

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]::before {
  display: block;
}

._icon-arrow-lower:before {
  content: "\e900";
}

._icon-arrow-next:before {
  content: "\e901";
}

._icon-arrow-prev:before {
  content: "\e902";
}

._icon-arrow-up:before {
  content: "\e903";
}

._icon-checked:before {
  content: "\e904";
}

._icon-close:before {
  content: "\e905";
}

._icon-error:before {
  content: "\e906";
}

._icon-hide-pass:before {
  content: "\e907";
}

._icon-info:before {
  content: "\e908";
}

._icon-left-icon:before {
  content: "\e909";
}

._icon-logo-icon:before {
  content: "\e90a";
}

._icon-logo-text:before {
  content: "\e90b";
}

._icon-logo-tm:before {
  content: "\e90c";
}

._icon-menu-arrow:before {
  content: "\e90d";
}

._icon-multichoise:before {
  content: "\e90e";
}

._icon-quantity-info:before {
  content: "\e90f";
}

._icon-right-icon:before {
  content: "\e910";
}

._icon-show-pass:before {
  content: "\e911";
}

._icon-standart:before {
  content: "\e912";
}

._icon-success:before {
  content: "\e913";
}

._icon-tag:before {
  content: "\e914";
}

._icon-user:before {
  content: "\e915";
}

._icon-warning:before {
  content: "\e916";
}

/* <NULLSTYLE> ========== */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* </NULLSTYLE> ========== */

/* <COMMON> ================================================== */

html {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  min-height: 100%;
  width: 100vw;
}

.inner {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100%;
  width: calc(100vw - 17.5rem);
  background-color: #fff;
}

.main {
  width: 100%;
  overflow-x: hidden;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 72.5rem;
  margin: 0 auto;
  padding: 3rem 5rem;
}

body {
  font-family: "Inter", sans-serif;
  color: #0f0233;
  font-size: 1rem;
}

.lock {
  overflow: hidden;
}

/* </COMMON> ================================================== */

/* <HEADER> ==================================================*/

.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #f9f8fb;
  color: #0f0233;
  height: 100vh;
}

.header__top {
  position: sticky;
  top: 0;
  background-color: #f9f8fb;
  padding: 1.25rem 2.5rem;
  width: 17.5rem;
  z-index: 5;
}

.header__inner {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  width: 100%;
  height: 3.25rem;
}

.header__tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  row-gap: 0.9375rem;
}

.logo {
  display: flex;
  gap: 0.625rem;
  height: 2.3125rem;
}

.logo__icon {
  height: 2.25rem;
  width: 2.1875rem;
}

.logo__icon img {
  width: 100%;
  height: 100%;
}

.logo__text {
  align-self: end;
  font-size: 2rem;
}

.menu__body {
  padding: 2.75rem 2.125rem 1.25rem 2.5rem;
  background-color: #f9f8fb;
  position: sticky;
  top: 5.75rem;
  height: calc(100vh - 5.75rem);
  overflow-y: scroll;
  overflow-x: hidden;
}

.menu__body::-webkit-scrollbar {
  width: 0.375rem;
}

.menu__body::-webkit-scrollbar-track {
  background: #f9f8fb;
  border-radius: 0.25rem;
}

.menu__body::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: #f3f2f5;
}

.menu__title {
  font-weight: 500;
  line-height: 1.25;
  color: #878199;
}

.menu__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.25rem;
}

.menu__item {
  width: 12.5rem;
}

.menu__item-title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  line-height: 1.25;
  border-radius: 0.25rem;
}

.menu__item-title::before {
  font-size: 0.375rem;
  color: #3e345c;
  transition: transform 0.3s ease 0s;
}

.menu__item-title._spoiler-active::before {
  transform: rotate(90deg);
}

.menu__sublist {
  display: none;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
  padding: 1rem 0.625rem 0.75rem;
}

._spoiler-active + .menu__sublist,
.menu__sublist._slide {
  display: flex;
}

.menu__link {
  font-size: 0.875rem;
  line-height: 1.1428571429;
  padding: 0.125rem;
  border-radius: 0.25rem;
}

.menu__link:active,
.menu__link.active {
  font-weight: 500;
  color: #6933ff;
}

.icon-menu {
  display: none;
}

/* </HEADER> ================================================== */

/* <MAIN> ================================================== */

.content {
  display: none;
}

.content.content--active {
  display: block;
}

.main-content__inner {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 41.25rem;
}

.main-content__title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.4;
}

.main-content__descr {
  line-height: 1.75;
  color: #878199;
  margin-bottom: 0.75rem;
}

.main-content__descr + .main-content__descr {
  margin-top: -0.75rem;
}

.main-content__tabs {
  background-color: #f3f2f5;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  width: -moz-max-content;
  width: max-content;
  -moz-column-gap: 0.0625rem;
       column-gap: 0.0625rem;
  row-gap: 0.3125rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-bottom: 2.25rem;
  position: relative;
}

.main-content__tabs::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5rem;
  bottom: 0.5rem;
  width: 0.25rem;
  background-color: inherit;
}

.main-content__tab {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 1.25rem;
  border-radius: 0.25rem;
  background-color: transparent;
  position: relative;
  font-weight: 500;
  line-height: 1.25;
}

.main-content__tab:not(:first-child)::after {
  content: "";
  position: absolute;
  display: block;
  left: -0.0625rem;
  background-color: #dad7e0;
  width: 0.0625rem;
  height: 0.75rem;
}

.tab--active + .main-content__tab:not(:first-child)::after {
  display: none;
}

.main-content__tab.tab--active {
  background-color: #fff;
}

.main-content__tab.tab--active::after {
  display: none;
}

.content__body {
  display: flex;
  flex-wrap: wrap;
  border: 0.125rem solid #f3f2f5;
  border-radius: 0.75rem;
  margin-bottom: 6rem;
  padding: 1.25rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 0.125rem solid #f3f2f5;
  border-radius: 0.75rem;
  margin-bottom: 6rem;
  padding: 1.25rem;
}

.form__body {
  padding: 3.375rem 3.625rem;
}

.form__btn {
  margin-left: auto;
}

.examples__title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5555555556;
  margin-bottom: 2rem;
}

.examples__title span {
  font-weight: 500;
  font-size: 0.875rem;
}

.examples__list {
  border: 0.125rem solid #f3f2f5;
  border-radius: 0.75rem;
  padding: 4rem 4.875rem;
}

.examples__item {
  display: flex;
  -moz-column-gap: 5.625rem;
       column-gap: 5.625rem;
  row-gap: 1.25rem;
}

.examples__item:not(:last-child) {
  margin-bottom: 3rem;
}

.examples__item > span {
  display: inline-flex;
  align-items: center;
  line-height: 1.25;
  max-width: 5.625rem;
  width: 100%;
}

/* <button> ========== */

._icon-left-icon,
._icon-right-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  aspect-ratio: 1;
}

._icon-left-icon {
  font-size: 0.75rem;
}

._icon-right-icon {
  font-size: 0.8125rem;
}

.primary-btn,
.standart-btn,
.secondary-btn,
.tertiary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.25;
  height: 100%;
  border: 0.125rem solid transparent;
  background-color: transparent;
  color: inherit;
  gap: 0.5rem;
  padding: 0.625rem 1.375rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s, color 0.3s ease 0s;
  position: relative;
}

.primary-btn._focus,
.standart-btn._focus,
.secondary-btn._focus,
.tertiary-btn._focus {
  outline: 0.125rem solid #1d90f5;
  outline-offset: 0.125rem;
}

.primary-btn {
  border-color: #6933ff;
  background-color: #6933ff;
  color: #fff;
}

.primary-btn._default {
  cursor: auto !important;
  border-color: #6933ff !important;
  background-color: #6933ff !important;
  color: #fff !important;
}

.primary-btn._hover {
  cursor: auto !important;
  background-color: #5928e1 !important;
  border-color: #5928e1 !important;
  color: #fff !important;
}

.primary-btn._active {
  cursor: auto !important;
  background-color: #4a1fc3 !important;
  border-color: #4a1fc3 !important;
  color: #fff !important;
}

.primary-btn:active,
.primary-btn.btn-click {
  background-color: #4a1fc3;
  border-color: #4a1fc3;
}

.primary-btn:disabled {
  cursor: not-allowed;
  background-color: #f3f2f5;
  border-color: #f3f2f5;
  color: #dad7e0;
}

.standart-btn {
  border-color: #f3f2f5;
  background-color: #f3f2f5;
  color: #0f0233;
}

.standart-btn._default {
  cursor: auto !important;
  border-color: #f3f2f5 !important;
  background-color: #f3f2f5 !important;
  color: #0f0233 !important;
}

.standart-btn._hover {
  cursor: auto !important;
  background-color: #eae9ed !important;
  border-color: #eae9ed !important;
  color: #0f0233 !important;
}

.standart-btn._active {
  cursor: auto !important;
  background-color: #f0ebff !important;
  border-color: #f0ebff !important;
  color: #6933ff !important;
}

.standart-btn:active,
.standart-btn.btn-click {
  background-color: #f0ebff;
  border-color: #f0ebff;
  color: #6933ff;
}

.standart-btn:disabled {
  cursor: not-allowed;
  background-color: #f3f2f5;
  border-color: #f3f2f5;
  color: #dad7e0;
}

.secondary-btn {
  border-color: #eae9ed;
}

.secondary-btn._default {
  cursor: auto !important;
  border-color: #eae9ed !important;
  background-color: transparent !important;
  color: inherit !important;
}

.secondary-btn._hover {
  cursor: auto !important;
  background-color: #f3f2f5 !important;
  border-color: #dad7e0 !important;
  color: #0f0233 !important;
}

.secondary-btn._active {
  cursor: auto !important;
  background-color: #f0ebff !important;
  border-color: #daccff !important;
  color: #6933ff !important;
}

.secondary-btn:active,
.secondary-btn.btn-click {
  background-color: #f0ebff;
  border-color: #daccff;
  color: #6933ff;
}

.secondary-btn:disabled {
  cursor: not-allowed;
  background-color: transparent;
  border-color: #eae9ed;
  color: #dad7e0;
}

.tertiary-btn._default {
  cursor: auto !important;
  border-color: transparent !important;
  background-color: transparent !important;
  color: inherit !important;
}

.tertiary-btn._hover {
  cursor: auto !important;
  background-color: #f3f2f5 !important;
  border-color: #f3f2f5 !important;
  color: #0f0233 !important;
}

.tertiary-btn._active {
  cursor: auto !important;
  background-color: #f0ebff !important;
  border-color: #f0ebff !important;
  color: #6933ff !important;
}

.tertiary-btn:active,
.tertiary-btn.btn-click {
  background-color: #f0ebff;
  border-color: #f0ebff;
  color: #6933ff;
}

.tertiary-btn:disabled {
  cursor: not-allowed;
  color: #dad7e0;
  background-color: transparent;
  border-color: transparent;
}

.btn-L {
  padding: 0.875rem 1.875rem;
}

.btn-S {
  padding: 0.375rem 1.125rem;
}

/* </button> ========== */

/* <checkbox> ========== */

.group-checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 10rem;
}

.group-checkbox__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
  height: 1.25rem;
  aspect-ratio: 1;
  margin-left: auto;
}

.group-checkbox__arrow::before {
  font-size: 0.375rem;
  color: #3e345c;
  transition: transform 0.3s ease 0s;
}

.group-checkbox__arrow._spoiler-active::before {
  transform: rotate(90deg);
}

.group-checkbox__list {
  width: 100%;
  margin-left: 1.75rem;
}

.checkbox__item {
  padding-top: 0.5rem;
  max-width: 8.75rem;
}

.checkbox__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.examples__item .checkbox__item {
  margin-bottom: 0;
}

.checkbox__body {
  display: inline-flex;
  margin-bottom: 0.5rem;
  padding-left: 1.75rem;
  position: relative;
  cursor: pointer;
}

.checkbox__body::after,
.checkbox__body::before {
  position: absolute;
  width: 1.25rem;
  aspect-ratio: 1;
  left: 0rem;
  border-radius: 0.25rem;
}

.checkbox__body::after {
  content: "";
  background-color: #f3f2f5;
  border: 0.125rem solid #eae9ed;
  transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
}

.checkbox__body::before {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: transform 0.3s ease 0s;
  transform: scale(0);
  z-index: 1;
}

.checkbox__body._icon-checked::before {
  padding-top: 0.0625rem;
  padding-left: 0.0625rem;
  font-size: 0.5rem;
}

.checkbox__body._icon-multichoise::before {
  font-size: 0.125rem;
}

.checkbox__body.active::before {
  transform: scale(1);
}

.checkbox__body._default {
  cursor: default;
}

.checkbox__body._default::after {
  background-color: #f3f2f5 !important;
  border-color: #eae9ed !important;
}

.checkbox__body._default.active::after {
  border-color: #6933ff !important;
  background-color: #6933ff !important;
}

.checkbox__body._default._error.active::after {
  border-color: #e00909 !important;
  background-color: #e00909 !important;
}

.checkbox__body._default._error::after {
  border-color: #e00909 !important;
  background-color: #ffebeb !important;
}

.checkbox__body._hover {
  cursor: default;
}

.checkbox__body._hover::after {
  border-color: #dad7e0 !important;
  background-color: #eae9ed !important;
}

.checkbox__body._hover.active::after {
  border-color: #5928e1 !important;
  background-color: #5928e1 !important;
}

.checkbox__body._active {
  cursor: default;
}

.checkbox__body._active::after {
  border-color: #daccff !important;
  background-color: #daccff !important;
}

.checkbox__body._active.active::after {
  border-color: #4a1fc3 !important;
  background-color: #4a1fc3 !important;
}

.checkbox__body._focus::after {
  outline: 0.125rem solid #1d90f5;
  outline-offset: 0.125rem;
}

.checkbox__body:active::after {
  border-color: #daccff;
  background-color: #daccff;
}

.checkbox__body.active::after {
  border-color: #6933ff;
  background-color: #6933ff;
}

.checkbox__body.active:active::after {
  border-color: #4a1fc3;
  background-color: #4a1fc3;
}

._disabled .checkbox__body {
  cursor: not-allowed;
}

._disabled .checkbox__body.active::after {
  border-color: #dad7e0;
  background-color: #dad7e0;
}

._disabled .checkbox__body::after {
  border-color: #eae9ed;
  background-color: #f3f2f5;
}

.checkbox__input {
  opacity: 0;
  position: absolute;
  left: -100vw;
}

.checkbox__name {
  line-height: 1.25;
}

._disabled .checkbox__name {
  color: #dad7e0;
}

.checkbox__descr {
  display: none;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  padding-left: 1.75rem;
  color: #878199;
  /* Add descr for checkbox__item */
}

.descr .checkbox__descr {
  display: block;
}

._disabled .checkbox__descr {
  color: #dad7e0;
}

/* </checkbox> ========== */

/* <text-field> ========== */

.text-field,
.password-field,
.quantity-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.text-field + span,
.password-field + span,
.quantity-field + span {
  margin-top: 1.5rem;
}

.examples .text-field,
.examples .password-field,
.examples .quantity-field {
  width: 64%;
  max-width: 20rem;
}

.text-field__error,
.text-field__success,
.password-field__error,
.password-field__success,
.quantity-field__error,
.quantity-field__success {
  display: none;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.1428571429;
}

.text-field__error::before,
.text-field__success::before,
.password-field__error::before,
.password-field__success::before,
.quantity-field__error::before,
.quantity-field__success::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  aspect-ratio: 1;
}

.text-field__error,
.password-field__error,
.quantity-field__error {
  color: #e00909;
}

.text-field__success,
.password-field__success,
.quantity-field__success {
  color: #009966;
}

.text-field__name,
.password-field__name,
.quantity-field__name {
  display: flex;
  justify-content: space-between;
  padding: 0 0.25rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  color: #3e345c;
}

._disabled .text-field__name,
._disabled .password-field__name,
._disabled .quantity-field__name {
  color: #dad7e0;
}

.text-field__body,
.password-field__body,
.quantity-field__body {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.875rem;
  background-color: #f3f2f5;
  border: 0.125rem solid transparent;
  border-radius: 0.5rem;
}

.hover .text-field__body,
.hover .password-field__body,
.hover .quantity-field__body {
  background-color: #eae9ed;
}

._focus .text-field__body,
._focus .password-field__body,
._focus .quantity-field__body {
  outline: 0.125rem solid #1d90f5;
  outline-offset: 0.125rem;
}

.text-field__input,
.password-field__input,
.quantity-field__input {
  width: 100%;
  caret-color: #0f0233;
}

._disabled .text-field__input,
._disabled .password-field__input,
._disabled .quantity-field__input {
  cursor: not-allowed;
}

.text-field__input::-moz-placeholder, .password-field__input::-moz-placeholder, .quantity-field__input::-moz-placeholder {
  font-size: 1rem;
  line-height: 1.25;
  color: #878199;
}

.text-field__input::placeholder,
.password-field__input::placeholder,
.quantity-field__input::placeholder {
  font-size: 1rem;
  line-height: 1.25;
  color: #878199;
}

._disabled .text-field__input::-moz-placeholder, ._disabled .password-field__input::-moz-placeholder, ._disabled .quantity-field__input::-moz-placeholder {
  color: #dad7e0;
}

._disabled .text-field__input::placeholder,
._disabled .password-field__input::placeholder,
._disabled .quantity-field__input::placeholder {
  color: #dad7e0;
}

.form .text-field__input:active::-moz-placeholder, .input-active .text-field__input::-moz-placeholder, .form .password-field__input:active::-moz-placeholder, .input-active .password-field__input::-moz-placeholder, .form .quantity-field__input:active::-moz-placeholder, .input-active .quantity-field__input::-moz-placeholder {
  color: #dad7e0;
}

.form .text-field__input:active::placeholder,
.input-active .text-field__input::placeholder,
.form .password-field__input:active::placeholder,
.input-active .password-field__input::placeholder,
.form .quantity-field__input:active::placeholder,
.input-active .quantity-field__input::placeholder {
  color: #dad7e0;
}

.hover .text-field__input::-moz-placeholder, .hover .password-field__input::-moz-placeholder, .hover .quantity-field__input::-moz-placeholder {
  color: #3e345c;
}

.hover .text-field__input::placeholder,
.hover .password-field__input::placeholder,
.hover .quantity-field__input::placeholder {
  color: #3e345c;
}

._disabled .hover .text-field__input::-moz-placeholder, ._disabled .hover .password-field__input::-moz-placeholder, ._disabled .hover .quantity-field__input::-moz-placeholder {
  color: #dad7e0;
}

._disabled .hover .text-field__input::placeholder,
._disabled .hover .password-field__input::placeholder,
._disabled .hover .quantity-field__input::placeholder {
  color: #dad7e0;
}

.text-field__descr,
.password-field__descr,
.quantity-field__descr {
  display: none;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  color: #878199;
  padding: 0.25rem;
  padding-bottom: 0;
}

._disabled .text-field__descr,
._disabled .password-field__descr,
._disabled .quantity-field__descr {
  color: #dad7e0;
}

.descr .text-field__descr,
.descr .password-field__descr,
.descr .quantity-field__descr {
  display: block;
}

.text-field__icon-left,
.text-field__icon-clear {
  display: none;
  justify-content: center;
  align-items: center;
  height: 1.25rem;
  aspect-ratio: 1;
  color: #878199;
}

.text-field__icon-left {
  font-size: 1.09375rem;
}

._disabled .text-field__icon-left {
  color: #dad7e0;
}

.text-field__icon-clear {
  cursor: pointer;
  font-size: 0.6625rem;
}

.text-field._error .text-field__optional {
  display: none;
}

.text-field._error .text-field__error {
  display: flex;
}

.text-field._error .text-field__body {
  border-color: #e00909;
}

.text-field._error.input-active .text-field__error {
  display: none;
}

.text-field._error.input-active .text-field__body {
  border-color: transparent;
}

.text-field._error.input-active .text-field__optional {
  display: block;
}

.text-field._success .text-field__optional {
  display: none;
}

.text-field._success .text-field__success {
  display: flex;
}

.text-field._success .text-field__body {
  border: 0.125rem solid #009966;
  border-radius: 0.5rem;
}

.text-field__optional {
  font-weight: 400;
  color: #878199;
}

._disabled .text-field__optional {
  color: #dad7e0;
}

.text-field__body.left-icon .text-field__icon-left {
  display: flex;
}

.input-active .text-field__input:not(:-moz-placeholder-shown) + .text-field__icon-clear {
  display: flex;
}

.input-active .text-field__input:not(:placeholder-shown) + .text-field__icon-clear {
  display: flex;
}

.password-field__icon-show,
.password-field__icon-hide {
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  color: #878199;
  min-width: 1.25rem;
  aspect-ratio: 1;
}

._disabled .password-field__icon-show,
._disabled .password-field__icon-hide {
  color: #dad7e0;
  cursor: not-allowed;
}

.password-field__icon-show {
  font-size: 1.0625rem;
}

.show-icon .password-field__icon-show {
  display: flex;
}

.password-field__icon-hide {
  font-size: 0.9375rem;
}

.hide-icon .password-field__icon-hide {
  display: flex;
}

.password-field__optional {
  display: none;
  font-weight: 400;
  color: #878199;
}

.input-active .password-field__optional {
  display: block;
}

._success .password-field__optional {
  display: none;
}

._disabled .password-field__optional {
  color: #dad7e0;
}

.password-field._error .password-field__error {
  display: flex;
}

.password-field._error .password-field__body {
  border-color: #e00909;
}

.password-field._error.input-active .password-field__error {
  display: none;
}

.password-field._error.input-active .password-field__body {
  border-color: transparent;
}

.password-field._success .password-field__success {
  display: flex;
}

.password-field._success .password-field__body {
  border: 0.125rem solid #009966;
  border-radius: 0.5rem;
}

.quantity-field._error .quantity-field__error {
  display: flex;
}

.quantity-field._error .quantity-field__body {
  border-color: #e00909;
}

.quantity-field._error.input-active .quantity-field__error {
  display: none;
}

.quantity-field._error.input-active .quantity-field__body {
  border-color: transparent;
}

.quantity-field._success .quantity-field__success {
  display: flex;
}

.quantity-field._success .quantity-field__body {
  border: 0.125rem solid #009966;
  border-radius: 0.5rem;
}

.quantity-field__body {
  position: relative;
}

.quantity-field__currency {
  display: none;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  color: #878199;
}

.cur .quantity-field__currency {
  display: block;
}

._disabled .quantity-field__currency {
  color: #dad7e0;
}

.quantity-field__input {
  -moz-appearance: textfield;
}

.quantity-field__input::-webkit-outer-spin-button,
.quantity-field__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-field__show-info {
  display: none;
  justify-content: center;
  align-items: center;
  color: #878199;
  min-width: 1.25rem;
  aspect-ratio: 1;
  font-size: 1.0625rem;
  cursor: pointer;
}

.info-icon .quantity-field__show-info {
  display: flex;
}

._disabled .quantity-field__show-info {
  color: #dad7e0;
  cursor: not-allowed;
}

.quantity-field__arrows {
  display: flex;
  flex-direction: column;
  height: 1.25rem;
  aspect-ratio: 1;
  gap: 0.25rem;
}

.quantity-field__up,
.quantity-field__lower {
  padding: 0.0625rem 0.25rem;
  font-size: 0.375rem;
  color: #878199;
}

.form .quantity-field__up,
.form .quantity-field__lower {
  cursor: pointer;
}

._disabled .quantity-field__up,
._disabled .quantity-field__lower {
  color: #dad7e0;
  cursor: not-allowed;
}

.field-S {
  padding: 0.625rem;
}

/* </text-field> ========== */

/* </MAIN> ================================================== */

/* <FOOTER> ==================================================*/

/* </FOOTER> ================================================== */

@media (max-width: 61.99875em) {
  .wrapper {
    flex-direction: column;
    max-height: 5.75rem;
  }

  .inner {
    width: 100%;
  }

  .container {
    padding: 3rem 1.25rem;
  }

  .header {
    position: relative;
    min-height: 5.75rem;
    height: 100%;
  }

  .header__top {
    position: fixed;
    width: 100%;
  }

  .menu__body {
    position: absolute;
    left: -100%;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 1.875rem;
    width: 1.875rem;
    height: 1.125rem;
    background-color: inherit;
    z-index: 10;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    left: 0;
    position: absolute;
    height: 0.125rem;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #0f0233;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    transform: scale(0);
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
}

@media (max-width: 47.99875em) {
  .form__body {
    padding: 1.75rem 1rem;
  }

  .examples__list {
    padding: 3rem 2.25rem;
  }

  .examples__item {
    flex-wrap: wrap-reverse;
  }

  .examples .text-field,
  .examples .password-field,
  .examples .quantity-field {
    width: 100%;
  }

  .text-field,
  .password-field,
  .quantity-field {
    width: 100%;
  }
}

@media (any-hover: hover) {
  .menu__item-title:focus {
    outline: 0.125rem solid #1d90f5;
    outline-offset: 0.25rem;
  }

  body:not(.user-is-tabbing) .menu__item-title:focus {
    outline: none;
  }

  .menu__item-title:hover {
    font-weight: 600;
  }

  .menu__link:focus {
    outline: 0.125rem solid #1d90f5;
    outline-offset: 0.125rem;
  }

  body:not(.user-is-tabbing) .menu__link:focus {
    outline: none;
  }

  .menu__link:hover {
    font-weight: 500;
  }

  .menu__link:active,
  .menu__link.active {
    font-weight: 500;
    color: #6933ff;
  }

  .main-content__tab:focus + .main-content__tab::after {
    display: none;
  }

  .main-content__tab:focus {
    outline: 0.125rem solid #1d90f5;
    outline-offset: 0.125rem;
    z-index: 1;
  }

  .main-content__tab:focus::after {
    display: none;
  }

  body:not(.user-is-tabbing) .main-content__tab:focus {
    outline: none;
  }

  .main-content__tab:hover {
    color: #6933ff;
  }

  .main-content__tab:active,
  .main-content__tab.tab--active {
    color: #0f0233;
    background-color: #fff;
  }

  .main-content__tab:active::after,
  .main-content__tab.tab--active::after {
    display: none;
  }

  .main-content__tab.tab--active {
    cursor: auto;
  }

  .primary-btn:focus,
  .standart-btn:focus,
  .secondary-btn:focus,
  .tertiary-btn:focus {
    outline: 0.125rem solid #1d90f5;
    outline-offset: 0.125rem;
  }

  body:not(.user-is-tabbing) .primary-btn:focus,
  body:not(.user-is-tabbing) .standart-btn:focus,
  body:not(.user-is-tabbing) .secondary-btn:focus,
  body:not(.user-is-tabbing) .tertiary-btn:focus {
    outline: none;
  }

  .primary-btn:hover {
    background-color: #5928e1;
    border-color: #5928e1;
  }

  .primary-btn:active {
    background-color: #4a1fc3;
    border-color: #4a1fc3;
  }

  .primary-btn:disabled {
    cursor: not-allowed;
    background-color: #f3f2f5;
    border-color: #f3f2f5;
    color: #dad7e0;
  }

  .standart-btn:hover {
    background-color: #eae9ed;
    border-color: #eae9ed;
  }

  .standart-btn:active {
    background-color: #f0ebff;
    border-color: #f0ebff;
    color: #6933ff;
  }

  .standart-btn:disabled {
    cursor: not-allowed;
    background-color: #f3f2f5;
    border-color: #f3f2f5;
    color: #dad7e0;
  }

  .secondary-btn:hover {
    background-color: #f3f2f5;
    border-color: #dad7e0;
    color: #0f0233;
  }

  .secondary-btn:active {
    background-color: #f0ebff;
    border-color: #daccff;
    color: #6933ff;
  }

  .secondary-btn:disabled {
    cursor: not-allowed;
    background-color: transparent;
    border-color: #eae9ed;
    color: #dad7e0;
  }

  .tertiary-btn:hover {
    background-color: #f3f2f5;
    border-color: #f3f2f5;
    color: #0f0233;
  }

  .tertiary-btn:active {
    background-color: #f0ebff;
    border-color: #f0ebff;
    color: #6933ff;
  }

  .tertiary-btn:disabled {
    cursor: not-allowed;
    color: #dad7e0;
    background-color: transparent;
    border-color: transparent;
  }

  .checkbox__body.input-focus::after {
    outline: 0.125rem solid #1d90f5;
    outline-offset: 0.125rem;
  }

  body:not(.user-is-tabbing) .form .checkbox__body.input-focus::after {
    outline: none;
  }

  .checkbox__body:hover::after {
    border-color: #dad7e0;
    background-color: #eae9ed;
  }

  .checkbox__body.active:hover::after {
    border-color: #5928e1;
    background-color: #5928e1;
  }

  .checkbox__body._active::after,
  .checkbox__body:active::after {
    border-color: #daccff;
    background-color: #daccff;
  }

  .checkbox__body.active._active::after,
  .checkbox__body.active:active::after {
    border-color: #4a1fc3;
    background-color: #4a1fc3;
  }

  .checkbox__body.active::after {
    border-color: #6933ff;
    background-color: #6933ff;
  }

  .checkbox__body._error.active::after {
    border-color: #e00909;
    background-color: #e00909;
  }

  .checkbox__body._error::after {
    border-color: #e00909;
    background-color: #ffebeb;
  }

  ._disabled .checkbox__body {
    cursor: not-allowed;
  }

  ._disabled .checkbox__body.active::after {
    border-color: #dad7e0;
    background-color: #dad7e0;
  }

  ._disabled .checkbox__body::after {
    border-color: #eae9ed;
    background-color: #f3f2f5;
  }

  .form .text-field__body:hover,
  .form .password-field__body:hover,
  .form .quantity-field__body:hover {
    background-color: #eae9ed;
  }

  .input-focus .text-field__body,
  .input-focus .password-field__body,
  .input-focus .quantity-field__body {
    outline: 0.125rem solid #1d90f5;
    outline-offset: 0.125rem;
  }

  body:not(.user-is-tabbing) .form .input-focus .text-field__body,
  body:not(.user-is-tabbing) .form .input-focus .password-field__body,
  body:not(.user-is-tabbing) .form .input-focus .quantity-field__body {
    outline: none;
  }

  ._disabled .text-field__body,
  ._disabled .password-field__body,
  ._disabled .quantity-field__body {
    background-color: #f3f2f5;
    cursor: not-allowed;
  }

  .form .text-field__input:hover::-moz-placeholder, .form .password-field__input:hover::-moz-placeholder, .form .quantity-field__input:hover::-moz-placeholder {
    color: #3e345c;
  }

  .form .text-field__input:hover::placeholder,
  .form .password-field__input:hover::placeholder,
  .form .quantity-field__input:hover::placeholder {
    color: #3e345c;
  }

  ._disabled .form .text-field__input:hover::-moz-placeholder, ._disabled .form .password-field__input:hover::-moz-placeholder, ._disabled .form .quantity-field__input:hover::-moz-placeholder {
    color: #dad7e0;
  }

  ._disabled .form .text-field__input:hover::placeholder,
  ._disabled .form .password-field__input:hover::placeholder,
  ._disabled .form .quantity-field__input:hover::placeholder {
    color: #dad7e0;
  }

  .form .text-field__input:active::-moz-placeholder, .input-active .text-field__input::-moz-placeholder, .form .password-field__input:active::-moz-placeholder, .input-active .password-field__input::-moz-placeholder, .form .quantity-field__input:active::-moz-placeholder, .input-active .quantity-field__input::-moz-placeholder {
    color: #dad7e0;
  }

  .form .text-field__input:active::placeholder,
  .input-active .text-field__input::placeholder,
  .form .password-field__input:active::placeholder,
  .input-active .password-field__input::placeholder,
  .form .quantity-field__input:active::placeholder,
  .input-active .quantity-field__input::placeholder {
    color: #dad7e0;
  }
}