@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]::before {
  display: block;
}

._icon-left-icon:before {
  content: "\e900";
}

._icon-logo-icon:before {
  content: "\e901";
}

._icon-logo-tm:before {
  content: "\e902";
}

._icon-right-icon:before {
  content: "\e903";
}

/* <NULLSTYLE> ========== */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* </NULLSTYLE> ========== */

/* <COMMON> ================================================== */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #fafafa;
}

.main {
  flex: 1 0 auto;
  padding: 5rem 0;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 68.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body {
  font-family: "Inter", sans-serif;
  color: #0f0233;
  font-size: 1rem;
}

.title-2 {
  font-weight: 800;
  line-height: 1.2;
  font-size: 2.5rem;
}

.title-3 {
  font-weight: 700;
  line-height: 1.25;
  font-size: 2rem;
}

/* </COMMON> ================================================== */

/* <HEADER> ==================================================*/

.menu__body {
  position: fixed;
  padding: 8.75rem 1.875rem 1.875rem;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 2, 51, 0.9);
  overflow: auto;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

.menu-open .menu__body {
  left: 0;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-menu {
  display: block;
  position: relative;
  flex: 0 0 1.875rem;
  width: 1.875rem;
  height: 1.125rem;
  background-color: inherit;
  z-index: 10;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  left: 0;
  position: absolute;
  height: 0.125rem;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu span {
  scale: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  rotate: 45deg;
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  rotate: -45deg;
}

/* </HEADER> ================================================== */

/* <MAIN> ================================================== */

.buttons__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0f0233;
  gap: 3.125rem;
  padding-top: 3.125rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 2.5rem;
  border-radius: 2.5rem;
}

.buttons__title {
  color: #fff;
}

.buttons__items {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fafafa;
  gap: 3.75rem;
  padding-top: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
  border-radius: 1.25rem;
}

.item-buttons {
  display: flex;
  flex-direction: column;
  background-color: #0f0233;
  gap: 1.25rem;
  border-radius: 1.875rem;
  padding-top: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
}

.item-buttons__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  gap: 1.25rem;
  padding-top: 1.25rem;
  padding-right: 3.75rem;
  padding-bottom: 1.25rem;
  padding-left: 3.75rem;
}

.item-buttons__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.625rem;
  height: 2.5rem;
  font-size: 2.25rem;
  position: relative;
}

.item-buttons__logo span {
  position: absolute;
  font-size: 0.1875rem;
  top: 0.125rem;
  right: 0;
}

.item-buttons__descr {
  display: flex;
  justify-content: end;
  gap: 16%;
  background-color: #fafafa;
  border-radius: 1.25rem;
  padding-top: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
}

.item-buttons__state {
  width: 20%;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  color: #878199;
}

.item-buttons__list {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  background-color: #fafafa;
  border-radius: 1.25rem;
  padding-top: 2.5rem;
  padding-right: 5rem;
  padding-bottom: 2.5rem;
  padding-left: 5rem;
}

.item-buttons__item {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  align-items: center;
  justify-content: space-between;
}

.item-buttons__text {
  font-weight: 500;
  line-height: 1.25;
}

/* <button> ========== */

._icon-left-icon,
._icon-right-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  aspect-ratio: 1;
}

._icon-left-icon {
  font-size: 0.75rem;
}

._icon-right-icon {
  font-size: 0.8125rem;
}

.primary-btn,
.second-fill-btn,
.second-bd-btn,
.tertiary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
  padding: 0.625rem 1.375rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s, color 0.3s ease 0s;
  position: relative;
}

.primary-btn:focus,
.second-fill-btn:focus,
.second-bd-btn:focus,
.tertiary-btn:focus {
  outline: 0.125rem solid #1d90f5;
  outline-offset: 0.125rem;
}

body:not(.user-is-tabbing) .primary-btn:focus,
body:not(.user-is-tabbing) .second-fill-btn:focus,
body:not(.user-is-tabbing) .second-bd-btn:focus,
body:not(.user-is-tabbing) .tertiary-btn:focus {
  outline: none;
}

.primary-btn {
  border: 0.125rem solid #6933ff;
  background-color: #6933ff;
  color: #fff;
}

.primary-btn:disabled {
  cursor: auto;
  background-color: #f3f2f5;
  border-color: #f3f2f5;
  color: #dad7e0;
}

.primary-btn:disabled:hover,
.primary-btn:disabled:active {
  background-color: #f3f2f5;
  border-color: #f3f2f5;
  color: #dad7e0;
}

.primary-btn:active,
.primary-btn.btn-click {
  background-color: #4a1fc3;
  border-color: #4a1fc3;
}

.second-fill-btn {
  border: 0.125rem solid #f3f2f5;
  background-color: #f3f2f5;
}

.second-fill-btn:disabled {
  cursor: auto;
  background-color: #f3f2f5;
  border-color: #f3f2f5;
  color: #dad7e0;
}

.second-fill-btn:disabled:hover,
.second-fill-btn:disabled:active {
  background-color: #f3f2f5;
  border-color: #f3f2f5;
  color: #dad7e0;
}

.second-fill-btn:active,
.second-fill-btn.btn-click {
  background-color: #f0ebff;
  border-color: #f0ebff;
  color: #6933ff;
}

.second-bd-btn {
  border: 0.125rem solid #eae9ed;
  background-color: inherit;
}

.second-bd-btn:disabled {
  cursor: auto;
  background-color: inherit;
  border-color: #eae9ed;
  color: #dad7e0;
}

.second-bd-btn:disabled:hover,
.second-bd-btn:disabled:active {
  background-color: inherit;
  border-color: #eae9ed;
  color: #dad7e0;
}

.second-bd-btn:active,
.second-bd-btn.btn-click {
  background-color: #f0ebff;
  border-color: #daccff;
  color: #6933ff;
}

.tertiary-btn {
  border: 0.125rem solid inherit;
  background-color: inherit;
}

.tertiary-btn:disabled {
  cursor: auto;
  color: #dad7e0;
  background-color: inherit;
  border-color: inherit;
}

.tertiary-btn:disabled:hover,
.tertiary-btn:disabled:active {
  background-color: inherit;
  border-color: inherit;
  color: #dad7e0;
}

.tertiary-btn:active,
.tertiary-btn.btn-click {
  background-color: #f0ebff;
  border-color: #f0ebff;
  color: #6933ff;
}

.btn-L {
  padding: 0.875rem 1.875rem;
}

.btn-S {
  padding: 0.375rem 1.125rem;
}

/* </button> ========== */

/* </MAIN> ================================================== */

/* <FOOTER> ==================================================*/

/* </FOOTER> ================================================== */

@media (max-width: 68.74875em) {
  .title-2 {
    font-size: calc(
        32px + 8 * (100vw / 1100)
      );
  }

  .title-3 {
    font-size: calc(
        24px + 8 * (100vw / 1100)
      );
  }

  .buttons__inner {
    gap: calc(
        30px + 20 * (100vw / 1100)
      );
  }

  .buttons__inner {
    padding-top: calc(
        30px + 20 * (100vw / 1100)
      );
  }

  .buttons__inner {
    padding-right: calc(
        10px + 30 * (100vw / 1100)
      );
  }

  .buttons__inner {
    padding-bottom: calc(
        10px + 30 * (100vw / 1100)
      );
  }

  .buttons__inner {
    padding-left: calc(
        10px + 30 * (100vw / 1100)
      );
  }

  .buttons__inner {
    border-radius: calc(
        30px + 10 * (100vw / 1100)
      );
  }

  .buttons__items {
    gap: calc(
        40px + 20 * (100vw / 1100)
      );
  }

  .buttons__items {
    padding-top: calc(
        10px + 70 * (100vw / 1100)
      );
  }

  .buttons__items {
    padding-right: calc(
        10px + 70 * (100vw / 1100)
      );
  }

  .buttons__items {
    padding-bottom: calc(
        10px + 70 * (100vw / 1100)
      );
  }

  .buttons__items {
    padding-left: calc(
        10px + 70 * (100vw / 1100)
      );
  }

  .buttons__items {
    border-radius: calc(
        22px + -2 * (100vw / 1100)
      );
  }

  .item-buttons {
    gap: calc(
        10px + 10 * (100vw / 1100)
      );
  }

  .item-buttons {
    border-radius: calc(
        20px + 10 * (100vw / 1100)
      );
  }

  .item-buttons {
    padding-top: calc(
        10px + 10 * (100vw / 1100)
      );
  }

  .item-buttons {
    padding-right: calc(
        10px + 10 * (100vw / 1100)
      );
  }

  .item-buttons {
    padding-bottom: calc(
        10px + 10 * (100vw / 1100)
      );
  }

  .item-buttons {
    padding-left: calc(
        10px + 10 * (100vw / 1100)
      );
  }

  .item-buttons__top {
    padding-top: calc(
        10px + 10 * (100vw / 1100)
      );
  }

  .item-buttons__top {
    padding-right: calc(
        15px + 45 * (100vw / 1100)
      );
  }

  .item-buttons__top {
    padding-bottom: calc(
        10px + 10 * (100vw / 1100)
      );
  }

  .item-buttons__top {
    padding-left: calc(
        15px + 45 * (100vw / 1100)
      );
  }

  .item-buttons__descr {
    border-radius: calc(
        12px + 8 * (100vw / 1100)
      );
  }

  .item-buttons__descr {
    padding-top: calc(
        10px + 10 * (100vw / 1100)
      );
  }

  .item-buttons__descr {
    padding-right: calc(
        10px + 10 * (100vw / 1100)
      );
  }

  .item-buttons__descr {
    padding-bottom: calc(
        10px + 10 * (100vw / 1100)
      );
  }

  .item-buttons__descr {
    padding-left: calc(
        10px + 10 * (100vw / 1100)
      );
  }

  .item-buttons__list {
    border-radius: calc(
        12px + 8 * (100vw / 1100)
      );
  }

  .item-buttons__list {
    padding-top: calc(
        20px + 20 * (100vw / 1100)
      );
  }

  .item-buttons__list {
    padding-right: calc(
        20px + 60 * (100vw / 1100)
      );
  }

  .item-buttons__list {
    padding-bottom: calc(
        20px + 20 * (100vw / 1100)
      );
  }

  .item-buttons__list {
    padding-left: calc(
        20px + 60 * (100vw / 1100)
      );
  }
}

@media (max-width: 59.99875em) {
  .item-buttons__descr {
    justify-content: space-between;
    padding-right: 6.25rem;
    padding-left: 6.25rem;
  }

  .item-buttons__state {
    width: auto;
  }

  .item-buttons__text {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 59.99875em) and (max-width: 68.74875em) {
  .item-buttons__descr {
    padding-right: calc(
        30px + 70 * (100vw / 1100)
      );
  }

  .item-buttons__descr {
    padding-left: calc(
        30px + 70 * (100vw / 1100)
      );
  }
}

@media (max-width: 59.99875em) and (max-width: 47.99875em) {
  .item-buttons__descr {
    padding-right: calc(
        30px + 119 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons__descr {
    padding-left: calc(
        30px + 119 * ((100vw - 320px) / 1100)
      );
  }
}

@media (max-width: 47.99875em) {
  .title-2 {
    font-size: calc(
        32px + 13.6 * ((100vw - 320px) / 1100)
      );
  }

  .title-3 {
    font-size: calc(
        24px + 13.6 * ((100vw - 320px) / 1100)
      );
  }

  .buttons__inner {
    gap: calc(
        30px + 34 * ((100vw - 320px) / 1100)
      );
  }

  .buttons__inner {
    padding-top: calc(
        30px + 34 * ((100vw - 320px) / 1100)
      );
  }

  .buttons__inner {
    padding-right: calc(
        10px + 51 * ((100vw - 320px) / 1100)
      );
  }

  .buttons__inner {
    padding-bottom: calc(
        10px + 51 * ((100vw - 320px) / 1100)
      );
  }

  .buttons__inner {
    padding-left: calc(
        10px + 51 * ((100vw - 320px) / 1100)
      );
  }

  .buttons__inner {
    border-radius: calc(
        30px + 17 * ((100vw - 320px) / 1100)
      );
  }

  .buttons__items {
    gap: calc(
        40px + 34 * ((100vw - 320px) / 1100)
      );
  }

  .buttons__items {
    padding-top: calc(
        10px + 119 * ((100vw - 320px) / 1100)
      );
  }

  .buttons__items {
    padding-right: calc(
        10px + 119 * ((100vw - 320px) / 1100)
      );
  }

  .buttons__items {
    padding-bottom: calc(
        10px + 119 * ((100vw - 320px) / 1100)
      );
  }

  .buttons__items {
    padding-left: calc(
        10px + 119 * ((100vw - 320px) / 1100)
      );
  }

  .buttons__items {
    border-radius: calc(
        22px + -3.4 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons {
    gap: calc(
        10px + 17 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons {
    border-radius: calc(
        20px + 17 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons {
    padding-top: calc(
        10px + 17 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons {
    padding-right: calc(
        10px + 17 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons {
    padding-bottom: calc(
        10px + 17 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons {
    padding-left: calc(
        10px + 17 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons__top {
    padding-top: calc(
        10px + 17 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons__top {
    padding-right: calc(
        15px + 76.5 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons__top {
    padding-bottom: calc(
        10px + 17 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons__top {
    padding-left: calc(
        15px + 76.5 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons__descr {
    border-radius: calc(
        12px + 13.6 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons__descr {
    padding-top: calc(
        10px + 17 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons__descr {
    padding-right: calc(
        10px + 17 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons__descr {
    padding-bottom: calc(
        10px + 17 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons__descr {
    padding-left: calc(
        10px + 17 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons__list {
    border-radius: calc(
        12px + 13.6 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons__list {
    padding-top: calc(
        20px + 34 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons__list {
    padding-right: calc(
        20px + 102 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons__list {
    padding-bottom: calc(
        20px + 34 * ((100vw - 320px) / 1100)
      );
  }

  .item-buttons__list {
    padding-left: calc(
        20px + 102 * ((100vw - 320px) / 1100)
      );
  }
}

@media (any-hover: hover) {
  .primary-btn:hover {
    background-color: #5928e1;
    border-color: #5928e1;
  }

  .second-fill-btn:hover {
    background-color: #eae9ed;
    border-color: #eae9ed;
  }

  .second-bd-btn:hover {
    background-color: #f3f2f5;
    border-color: #dad7e0;
  }

  .tertiary-btn:hover {
    background-color: #f3f2f5;
    border-color: #f3f2f5;
  }
}